.card-body{
    font-size: 18px;
}
.btn-link{
    font-size: 1.5rem;
}
.btn-link {
    font-weight: 400;
    color: #1dd3f8;
    text-decoration: none;
}
.btn-link:hover {
    text-decoration: none;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}