<section class="faq-area pb-100 pt-200">
    <div class="section-title">
         <span>Frequently Asked Questions</span>
         <h2 class="color-white">Frequently Asked Questions</h2>
         
      </div>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-8">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Social Media and PPC Management
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    An effective social media campaign is directly related to your store's performance. 
                    Our eBay SEO specialists regularly update posts on your social media handles like 
                    Facebook, Twitter, Instagram, Linked In, Google+, etc. as part of our customer 
                    engagement strategy. 
                    This helps create maximum visibility for your products.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    eBay Seller Hub and Metrics
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    There is always a smarter way to sell online. Making use of the seller hub metrics is one for eBay. 
                    Analyzing eBay's seller data can give new insights for improving sales. 
                    Our eBay listing virtual assistant will analyze data about the selling cost of your products, 
                    competitors' prices, click-through rate, and conversion rate on eBay. 
                    Our take-no-prisoners approach helps you to always stay ahead of your competitors.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Do You Face Any of These Challenges in running your eBay Business?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    A massive backlog of inventory which is not yet listed and is challenging to organize and manage alone.<br><br>
                      You have a constant inflow of inventory to sell, and this has made listing creation a super business tedious task for you.<br><br>
                      Your precious time is being consumed in too many non-core, less essential tasks such as creating lists, updating them, writing descriptions, shipping, tracking numbers, and doing all the printing, among others.<br><br>
                      You do not have the time to spend creating your eBay lists and update them from time to time.<br><br>
                      You are physically disabled and find it difficult to conform to specific eBay rules that you cannot physically do, for instance, tracking numbers when you can't read the small amounts too well.<br><br>
                      Your productivity with eBay selling is low, and it stresses you out.<br><br>
                      You are technology challenged, and the computer work of eBay looks overwhelming to you.<br><br>
                      You are new to eCommerce, and you find it challenging to figure things out or understand what is what. Alternatively, you're not too familiar with the procedure of eBay selling.<br><br>
                      You realize that your business requires an experienced staff member to help you with your eCommerce sales, but you can't afford to hire a full-time employee.<br><br>
                      If you face any of these challenges, your business is the right fit to hire our expert eBay sellers. Our eBay virtual helpers boast a competitive skill set and phenomenal abilities.
                  </div>
                </div>
              </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="faq-img"><img src="../../assets/img/newIMG/faq-img.png" alt="Image" class="img-fluid"/></div>
         </div>
      </div>
   </div>
</section>

