.user-area-all-style {
    position: relative;
    z-index: 1;
}
.user-area-all-style .contact-form-action {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 40px rgb(82 85 90 / 10%);
    padding: 40px;
    max-width: 570px;
    margin: auto;
}
.user-area-all-style .contact-form-action {
    max-width: 100% !important;
}
.user-area-all-style .contact-form-action form .form-group {
    margin-bottom: 30px;
}
label {
    font-weight: 500;
}
.user-area-all-style .contact-form-action form .default-btn.btn-two {
    display: table;
    margin: 0 auto;
    padding: 20px 35px;
}
.user-area-all-style .contact-form-action form .default-btn {
    font-size: 14px;
    padding: 12px 20px;
}



/* .contact-info-area .single-contact-info {
    text-align: center;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;
    transition: all .5s;
    border-radius: 4px;
}
.contact-info-area .single-contact-info {
    padding: 15px !important;
    min-height: 220px;
}
.contact-info-area .single-contact-info:hover {
    background-color: #1dd3f8;
}
.contact-info-area .single-contact-info:hover i {
    color: #fff;
    border-color: #fff;
}
.contact-info-area .single-contact-info i {
    display: block;
    color: #1dd3f8;
    transition: all .5s;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    line-height: 50px;
    border: 2px dotted #1dd3f8;
    border-radius: 50%;
}
.contact-info-area .single-contact-info:hover a, .contact-info-area .single-contact-info:hover h3, .contact-info-area .single-contact-info:hover p {
    color: #fff;
}
.contact-info-area .single-contact-info h3 {
    transition: all .5s;
}
.contact-info-area .single-contact-info h3 {
    font-size: 18px !important;
}
.contact-info-area .single-contact-info:hover a, .contact-info-area .single-contact-info:hover h3, .contact-info-area .single-contact-info:hover p {
    color: #fff;
}
.contact-info-area .single-contact-info p {
    margin: 0;
}
.contact-info-area .single-contact-info:hover a, .contact-info-area .single-contact-info:hover h3, .contact-info-area .single-contact-info:hover p {
    color: #fff;
}
.contact-info-area .single-contact-info a {
    color: #4d4d4d;
    transition: all .5s;
    display: block;
}
.main-contact-area .contact-wrap {
    max-width: unset;
}
.main-contact-area .contact-wrap .contact-form {
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    padding: 50px;
    border-radius: 4px;
}
.main-contact-area .contact-wrap .form-group {
    margin-bottom: 30px;
}
.main-contact-area .contact-wrap .default-btn {
    margin: auto;
    display: table;
    cursor: pointer;
} */