
<section class="user-area-all-style sign-up-area pb-100 pt-200">
    <div class="container">
       <div class="row">
          <div class="col-md-12 col-12">
              <div class="section-title">
                  <span>Sign Up</span>
                  <h2 class="color-white">Sign up with us</h2>
                  <!-- <p class="color-white">Get your first 10 listings free</p> -->
               </div>
             <div class="contact-form-action">
                
                <form [formGroup]="form" (ngSubmit)="submitForm()">
                   <div class="row">
                      <div class="col-md-4 col-sm-4">
                         <div class="form-group">
                             <label>Full Name <span style="color: red;">*</span></label>
                             <input type="text" class="form-control" formControlName="name" placeholder="Full Name" required/></div>
                      </div>
                      
                      
                      <div class="col-md-4 col-sm-4">
                         <div class="form-group">
                             <label>Enter Email Address <span style="color: red;">*</span></label>
                             <input type="email" class="form-control" formControlName="email" placeholder="Email Address" required/></div>
                      </div>
                      <div class="col-md-4 col-sm-4">
                         <div class="form-group">
                             <label>Phone No. (With Country Code)<span style="color: red;">*</span></label>
                             <input type="text" class="form-control" formControlName="phone" placeholder="Phone No." required/></div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="phone" class="bold">Able to pass account info? Else go ahead and share limited access of your account. 
                              (User Access on - First Name: "Kreate", Last Name: "List", Email: "Kreatelist@gmail.com"). <a target="_blank" href="https://drive.google.com/file/d/13usvntzSXGrymQL-1vAouvHDDAAJgLDb/view?usp=sharing">How to share User Access on eBay?</a> <span style="color: red;"> *</span></label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mainAccountDetails" id="mainAccountYes" value="Yes" formControlName="mainAccountDetails" checked>
                                <label class="form-check-label" for="mainAccountYes">Yes</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="mainAccountDetails" id="mainAccountNo" formControlName="mainAccountDetails" value="No">
                                <label class="form-check-label" for="mainAccountNo">No</label>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label>Which Service do you want? <span style="color: red;">*</span></label>
                        <select class="form-control" formControlName="service">
                            <option value="Choose your service">Choose your service</option>
                            <option value="Listing">Listing</option>
                            <option value="Cross-Listing">Cross-Listing</option>
                            <option value="E-Commerce Entrenchment">E-Commerce Entrenchment</option>
                            <option value="E-Commerce Web Development">E-Commerce Web Development</option>
                            <option value="E-Commerce Android App Development">E-Commerce Android App Development</option>
                            <option value="E-Commerce IOS App Development">E-Commerce IOS App Development</option>
                            <option value="Store Analayis and Accounting">Store Analayis &amp; Accounting</option>
                            <option value="Amazon FBA">Amazon FBA</option>
                            <option value="eBay Dropshipping Listing">eBay Dropshipping Listing</option>
                            <option value="Other Service (Marketing, Research, Finance or other)">Other Service (Marketing, Research, Finance or other)</option>
                        </select>
                    </div>
                 </div>
              </div>

              <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="platform">On which platform do you want to list/cross-list/de-list your items? <span style="color: red;">*</span></label>
                        <select class="form-control" formControlName="platform">
                            <option value="Choose your platform">Choose your platform</option>
                            <option value="eBay">eBay</option>
                            <option value="Amazon">Amazon</option>
                            <option value="Poshmark">Poshmark</option>
                            <option value="Mercari">Mercari</option>
                            <option value="Etsy">Etsy</option>
                            <option value="Tradsey">Tradsey</option>
                            <option value="Depop">Depop</option>
                            <option value="Facebook Marketplace">Facebook Marketplace</option>
                            <option value="Bonanza">Bonanza</option>
                            <option value="Grailed">Grailed</option>
                            <option value="OfferUp">OfferUp</option>
                            <option value="Shopify">Shopify</option>
                            <option value="Other (Mention the name in login details)">Other (Mention the name in login details)</option>
                          </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="modeOfCommunication">Please suggest a good way for real time communication.</label>
                        <select class="form-control" formControlName="modeOfCommunication">
                            <option value="Choose your mode of communication">Choose your mode of communication</option>
                            <option value="WhatsApp">WhatsApp</option>
                            <option value="Email">Email</option>
                            <option value="Slack">Slack</option>
                            <option value="Skype">Skype</option>
                            <option value="Zoom">Zoom</option>
                            <option value="Text Message">Text Message</option>
                          </select>
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Platform Login Credentials (Id & Passwords). You can write multiples too. (User Access will only work for Amazon and eBay only, for other platforms you need to share main logins) .</label>
                            <textarea  rows="3"  placeholder="Enter your login credential" formControlName="platformLoginCredential"  class="form-control "></textarea>
                        </div>
                     </div>

                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="price" class="bold">Pricing Level according to market? <span style="color: red;">*</span></label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pricingLevel" id="higherThanMarket" formControlName="pricingLevel" value="Higher than Market" checked>
                                <label class="form-check-label" for="higherThanMarket">Higher than Market</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pricingLevel" id="mediumLevel" formControlName="pricingLevel" value="Medium Level">
                                <label class="form-check-label" for="mediumLevel">Medium Level</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pricingLevel" id="lowerThanMarket" formControlName="pricingLevel" value="Lower than Market">
                                <label class="form-check-label" for="lowerThanMarket">Lower than Market</label>
                              </div>
                        </div>
                     </div>
                  </div>

                  <div class="row">

                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label>Where did you hear about us?</label>
                            <input type="text" class="form-control"  placeholder="Enter your Answer" formControlName="enquirySource" /></div>
                     </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label for="salesInvolved">Does sales involved in your Sign Up?</label>
                           <select class="form-control" formControlName="salesInvolved">
                               <option value="Sara McCune">Sara McCune</option>
                               <option value="Camilo D'Amato">Camilo D'Amato</option>
                               <option value="Valeria Rivera">Valeria Rivera</option>
                               <option value="No">No</option>
                             </select>
                        </div>
                      </div>

                  </div>

                  <div class="row">

                     <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                           <label>Do you have a referral code?</label>
                           <div *ngIf="referral_code; else referralInput">
                              <input type="text" class="form-control"  placeholder="Enter your Answer" formControlName="referralCode" [(ngModel)]="referral_code" readonly/>
                           </div>
                           
                           <ng-template #referralInput>
                              <input type="text" class="form-control"  placeholder="Enter your Answer" formControlName="referralCode" />
                           </ng-template>
                            
                        </div>
                     </div>

                      <div class="col-md-6 col-sm-6">
                         <div class="form-group">
                             <label>Any Specific Description Format (Custom Templates)?</label>
                             <input type="text" class="form-control"  placeholder="Enter your Answer" formControlName="descriptionType" /></div>
                      </div>

                  </div>
                  <div class="row" style="padding: 15px;">
                     <input type="checkbox" style="margin-top: 4px;" (change)="checkCheckBoxvalue($event)">
                     <label>&nbsp;&nbsp;&nbsp;I have read and agreed to the 
                        <a href="/terms" target="_blank">Terms and Conditions</a>, 
                        <a href="/privacy" target="_blank">Privacy and Security Policies</a>, 
                        <a href="/refund-policies" target="_blank">Refund Policies</a> & 
                        <a href="/shipping-policies" target="_blank">Shipping Policies.</a></label>
                  </div>
                   

                  <div class="row">
                      <div class="col-12"><button class="default-btn btn-two" type="submit">Register Account</button></div>
                   </div>
                </form>
             </div>


          </div>
       </div>
    </div>
 </section>


 <!-- <section class="main-contact-area pb-100 pt-200">
  <div class="container">
     <div class="section-title">
        <span>Get in touch with us</span>
        <h2 class="color-white">We’d love to hear from you</h2>
        <p class="color-white">Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions</p>
     </div>
     <div class="row">
        <div class="col-lg-6">
           <div class="contact-wrap contact-pages mb-0">
              <div class="contact-form">
                 <form id="contactForm" [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="row">
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="text" formControlName="name" id="name" class="form-control" required="" placeholder="Your Name" /></div>
                       </div>
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="email" formControlName="email" id="email" class="form-control" required="" placeholder="Your Email" /></div>
                       </div>
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="text" formControlName="phone" id="phone_number" required="" class="form-control" placeholder="Your Phone" /></div>
                       </div>
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="text" formControlName="subject" id="msg_subject" class="form-control" required="" placeholder="Your Subject" /></div>
                       </div>
                       <div class="col-lg-12 col-md-12">
                          <div class="form-group"><textarea formControlName="message" id="message" cols="30" rows="5" class="form-control" required="" placeholder="Your Message"></textarea></div>
                       </div>
                       <div class="col-lg-12 col-md-12"><button type="submit" class="default-btn btn-two">Send Message</button></div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="contact-img"><img src="../../assets/img/newIMG/choose-img.png" alt="Image" class="img-fluid mt-5" /></div>
        </div>
     </div>
  </div>
</section> -->

