<div style="background-color: #eff4f8;">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="margin: auto;">
                <h1 style="color: #352F6F; font-size: 3.4em; font-weight: 700; margin-bottom: 1em;">Buy items from eBay<br> Sell them on Amazon</h1>
                <p style="font-size: 1.7em; margin-bottom: 2em;">with at least a profit margin of 50% with us</p>
                <button type="button" class="btn btn-primary" routerLink="/signup">Get Started Now</button>
            </div>
            <div class="col-md-6">
                <img src="../../assets/img/Consulting.png" style="height: 35em;">
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container" style="padding: 45px 15px;">
        <div class="row" style="text-align: center;">
            <p style="color: #352F6F; font-size: 3.5em; font-weight: 700; margin: auto; margin-bottom: 0.5em;">Know More</p>
            <p style="font-size: 1.7em;">Don’t know exactly whether or not the product will sell in the first week, not sure whether the product is competitive & profitable. No worries we have to find those profitable items for you.</p>
            <button type="button" class="btn btn-primary" style="margin: auto; margin-top: 0.7em" routerLink="/signup">Get Started Now</button>
        </div>
    </div>
</div>

<div style="background: linear-gradient(to bottom, #eff4f8 0, #fff 100%);" id="solutions">
    <div class="container">
        <div class="row">
            <p style="color: #352F6F; font-size: 2.5em; font-weight: 600; margin: auto; margin-bottom: 1em; margin-top: 1em">Our team takes care of all of your concerns.</p>
            <div class="col-md-6" style="margin: auto;">
                <p><img src="../../assets/img/check.png" class="checkListImg">&nbsp;&nbsp;&nbsp;<span class="font18">Minimum ROI – 50%</span></p>
                <p><img src="../../assets/img/check.png" class="checkListImg">&nbsp;&nbsp;&nbsp;<span class="font18">Good monthly sales</span></p>
                <p><img src="../../assets/img/check.png" class="checkListImg">&nbsp;&nbsp;&nbsp;<span class="font18">The product will be brand new and sealed</span></p>
                <p><img src="../../assets/img/check.png" class="checkListImg">&nbsp;&nbsp;&nbsp;<span class="font18">Your seller control permission</span></p>
                <p><img src="../../assets/img/check.png" class="checkListImg">&nbsp;&nbsp;&nbsp;<span class="font18">Finding those items which sell quickly</span></p>
            </div>
            <div class="col-md-6">
                <img src="../../assets/img/Career progress.png" style="height: 30em; float: right;">
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row callout">
            <div class="col-md-9">
                <p style="margin: auto; font-size: 1.7em;">Let’s schedule a quick meeting with our business manager to learn how you can give a kick start to your product selling & scale your business. <span style="color: #4337BB; font-weight: 500;">Our VA can do 50 listing in a day.</span></p>
            </div>
            <div class="col-md-3" style="margin: auto; text-align: end;">
                <button type="button" class="btn btn-primary" style="padding: 13px;" routerLink="/signup">Get Started Now</button>
            </div>
        </div>
    </div>
</div>
