

<div class="contact-info-area pt-200 pb-70">
  <div class="container">
     <div class="row">
        <div class="col-lg-3 col-sm-6">
           <div class="single-contact-info">
            <i class="far fa-envelope"></i>
              <h3><b>Email Us</b></h3>
              <p><a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="1078757c7c7f507a657d60683e737f7d">founder@kreatelist.com</a></p>
              <p><a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="543d3a323b143e2139242c7a373b39">chelsi@kreatelist.com</a></p>
              <p><a href="../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="543d3a323b143e2139242c7a373b39">nick@kreatelist.com</a></p>
           </div>
        </div>
       <div class="col-lg-3 col-sm-6">
           <div class="single-contact-info">
            <i class="fas fa-map-marker-alt"></i>
              <h3><b>Corporate & Operation</b></h3>
              <p>
               Kreatelist Infotech Pvt. Ltd.<br>
               CIN: U72900DL2021PTC380903,
               Palam Colony, Delhi Central Delhi DL, 110045, INDIA, founder@kreatelist.com
              </p>
              <!-- <p>Palam, New Delhi 110045, &nbsp; &nbsp; &nbsp; India<br>founder@kreatelist.com</p> -->
           </div>
        </div>
        <div class="col-lg-3 col-sm-6">
           <div class="single-contact-info">
            <i class="fas fa-map-marker-alt"></i>
              <h3><b>Influence & Support</b></h3>
              <p>Los Angeles, California 90005, United States<br>chelsi@kreatelist.com</p>
           </div>
        </div>
        
          <div class="col-lg-3 col-sm-6">
           <div class="single-contact-info">
            <i class="fas fa-map-marker-alt"></i>
              <h3><b>Production & Operation</b></h3>
              <p>Bengaluru, Karnataka 560068, India<br>nick@kreatelist.com</p>
           </div>
        </div>
     </div>
  </div>
</div>

<section class="main-contact-area pb-100">
  <div class="container">
     <div class="section-title">
        <span>Get in touch with us</span>
        <h2 class="color-white">We’d love to hear from you</h2>
        <p class="color-white">Whether you have a question about features, trials, pricing, need a demo, or anything else, our team is ready to answer all your questions</p>
     </div>
     <div class="row">
        <div class="col-lg-6">
           <div class="contact-wrap contact-pages mb-0">
              <div class="contact-form">
                 <form id="contactForm" [formGroup]="form" (ngSubmit)="submitForm()">
                    <div class="row">
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="text" formControlName="name" id="name" class="form-control" required="" placeholder="Your Name" /></div>
                       </div>
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="email" formControlName="email" id="email" class="form-control" required="" placeholder="Your Email" /></div>
                       </div>
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="text" formControlName="phone" id="phone_number" required="" class="form-control" placeholder="Your Phone" /></div>
                       </div>
                       <div class="col-lg-6 col-sm-6">
                          <div class="form-group"><input type="text" formControlName="subject" id="msg_subject" class="form-control" required="" placeholder="Your Subject" /></div>
                       </div>
                       <div class="col-lg-12 col-md-12">
                          <div class="form-group"><textarea formControlName="message" id="message" cols="30" rows="5" class="form-control" required="" placeholder="Your Message"></textarea></div>
                       </div>
                       <div class="col-lg-12 col-md-12"><button type="submit" class="default-btn btn-two">Send Message</button></div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="contact-img"><img src="../../assets/img/newIMG/choose-img.png" alt="Image" class="img-fluid mt-5" /></div>
        </div>
     </div>
  </div>
</section>
