

.contact-info-area .single-contact-info {
    text-align: center;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;
    transition: all .5s;
    border-radius: 4px;
}
.contact-info-area .single-contact-info {
    padding: 15px !important;
    min-height: 300px;
}
.contact-info-area .single-contact-info:hover {
    background-color: #1dd3f8;
}
.contact-info-area .single-contact-info:hover i {
    color: #fff;
    border-color: #fff;
}
.contact-info-area .single-contact-info i {
    display: block;
    color: #1dd3f8;
    transition: all .5s;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    line-height: 50px;
    border: 2px dotted #1dd3f8;
    border-radius: 50%;
}
.contact-info-area .single-contact-info:hover a, .contact-info-area .single-contact-info:hover h3, .contact-info-area .single-contact-info:hover p {
    color: #fff;
}
.contact-info-area .single-contact-info h3 {
    transition: all .5s;
}
.contact-info-area .single-contact-info h3 {
    font-size: 18px !important;
}
.contact-info-area .single-contact-info:hover a, .contact-info-area .single-contact-info:hover h3, .contact-info-area .single-contact-info:hover p {
    color: #fff;
}
.contact-info-area .single-contact-info p {
    margin: 0;
}
.contact-info-area .single-contact-info:hover a, .contact-info-area .single-contact-info:hover h3, .contact-info-area .single-contact-info:hover p {
    color: #fff;
}
.contact-info-area .single-contact-info a {
    color: #4d4d4d;
    transition: all .5s;
    display: block;
}
.main-contact-area .contact-wrap {
    max-width: unset;
}
.main-contact-area .contact-wrap .contact-form {
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    padding: 50px;
    border-radius: 4px;
}
.main-contact-area .contact-wrap .form-group {
    margin-bottom: 30px;
}
.main-contact-area .contact-wrap .default-btn {
    margin: auto;
    display: table;
    cursor: pointer;
}