<section class="pt-200 pb-70">
    <div class="container">
       <div class="section-title">
          <h2 class="color-primary">Refunds and Cancellations Policies</h2>
       </div>
       <p>Here are the Refunds and Cancellations Policies to Use the KreateList Platform:</p>
       <ol>
            <li>
                If you are not fully satisfied with the quality of our work for whatever reason, we will refund the initial deposit.
            </li>
           <!-- <li>For the Subscription, there will be no refund at any point in time, but the point of
                benefits is mentioned below:
                <ul>
                    <li>You can Unsubscribe/Cancel it anytime while active subscription, no amount
                        will be deducted after the Cancellations of the account.</li>
                    <li>You can use the subscription amount at any service there will be no limitation.</li>
                </ul>
            </li> -->
           <li>For Services there will initial refund possible, conditions mentioned below:
            *Wallet amount can be initially refunded in 7 working days (Expect Reffral & Bonus Credits)
                <ol>
                    <li>Listing/Posting:- $1.00 Per Item
                        <ul>
                            <li>Only possible when an Item has New Status, user can delete the 
                                item and it will be fully refunded in the next 7 working days in the wallet.</li>
                            <li>No Refund will be initiated in Submitted Drafted and Listed Status. 
                                The user will be not able to delete the items.</li>
                        </ul>
                    </li>
                    <li>Cross-listing/Cross-posting:- $0.50 Per Item/Platform (Except eBay)
                        <ul>
                            <li>Only possible when an Item has New Status, user can delete the item
                                 and it will be fully refunded in the next 7 working days in the wallet.</li>
                            <li>No Refund will be initiated in Submitted Drafted and Listed Status. 
                                The user will be not able to delete the items.</li>
                        </ul>
                    </li>
                    <!-- <li>eBay Dropshipping Listing:- $0.65 Per Item
                        <ul>
                            <li>Only possible when an Item has New Status, user can delete
                                the item and it will be fully refunded in the next 7 working days
                                in the wallet.</li>
                            <li>No Refund will be initiated in Submitted Drafted and Listed
                                Status. The user will be not able to delete the items.</li>
                        </ul>
                    </li> -->
                    <li>Amazon FBA & Account Management:- $10.00 Per Hour
                        <ul>
                            <li>50% will be possible in service cancellation. It will be 
                                refunded in the next 7 working days in the customer's bank account or PayPal account.</li>
                        </ul>
                    </li>
                    <!-- <li>Account Analysis & Management:- $7.00 Per Hour
                        <ul>
                            <li>15% will be possible in service cancellation. It will be refunded
                                in the next 7 working days in the customer’s bank account or
                                PayPal account.</li>
                        </ul>
                    </li>
                    <li>Other Services:- $10.00 Per Hour
                        <ul>
                            <li>15% will be possible in service cancellation. It will be refunded
                                in the next 7 working days in the customer’s bank account or
                                PayPal account.</li>
                        </ul>
                    </li>
                    <li>E-Commerce Web Development
                        <ul>
                            <li>25% will be possible in service cancellation. It will be refunded in the next 7
                                working days in the customer’s bank account or PayPal account.</li>
                        </ul>
                    </li>
                    <li>E-Commerce Android App Development
                        <ul>
                            <li>25% will be possible in service cancellation. It will be refunded in the next 7
                                working days in the customer’s bank account or PayPal account.</li>
                        </ul>
                    </li>
                    <li>E-Commerce IOS App Development
                        <ul>
                            <li>25% will be possible in service cancellation. It will be refunded in the next 7
                                working days in the customer’s bank account or PayPal account.</li>
                        </ul>
                    </li> -->
                </ol>
            </li>
        </ol>
    </div>
</section>