<div class="container">
    <h1 style="text-align: center; margin-top: 1em; margin-bottom: 2em; color: #352F6F;">Board of Directors</h1>
    <div class="row" style="margin: 3em 0px;">
        <div class="col-md-3">
            <div class="profile">
                <img src="../../assets/img/user_men.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Nick Brown</p>
                <p>Founder</p>
                <div class="middle">
                  <a class="linkedinIconProfile" href="https://www.linkedin.com/in/nick-brown-1a4531203/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="profile">
                <img src="../../assets/img/user_women.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Renne Brown</p>
                <p>Co-founder</p>
                <div class="middle">
                    <a class="linkedinIconProfile" href="https://www.linkedin.com/in/renne-brown-6575b2203/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="profile">
                <img src="../../assets/img/user_women.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Andy Smith</p>
                <p>Customer Success Manager</p>
                <div class="middle">
                    <a class="linkedinIconProfile" href="https://www.linkedin.com/in/andy-smith-04720a203/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="profile">
                <img src="../../assets/img/user_women.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Chelsi Behura</p>
                <p>Virtual Assistant Head</p>
                <div class="middle">
                    <a class="linkedinIconProfile" href="https://www.linkedin.com/in/chelsi-behura-19b008203/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
        </div>
    </div>

    <div class="row" style="margin: 3em 0px;">
        <div class="col-md-3">
            <!-- <div class="profile">
                <img src="../../assets/img/user_men.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Nick Brown</p>
                <p>Founder</p>
                <div class="middle">
                  <div class="text">John Doe</div>
                </div>
              </div> -->
        </div>
        <div class="col-md-3">
            <div class="profile">
                <img src="../../assets/img/user_men.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Steve Smith</p>
                <p>Head of Operations</p>
                <div class="middle">
                    <a class="linkedinIconProfile" href="https://www.linkedin.com/in/steve-smith-a0671a203/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="profile">
                <img src="../../assets/img/user_men.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Bob Behura</p>
                <p>Virtual Assistant</p>
                <div class="middle">
                    <a class="linkedinIconProfile" href="https://www.linkedin.com/in/bob-behura-71b848203/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
        </div>
        <div class="col-md-3">
            <!-- <div class="profile">
                <img src="../../assets/img/user_men.png" alt="Avatar" class="image" style="width:100%">
                <p class="profileName">Chelsi Behura</p>
                <p>Virtual Assistant Head</p>
                <div class="middle">
                  <div class="text">John Doe</div>
                </div>
              </div> -->
        </div>
    </div>
</div>