.profile {
    position: relative;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 1em;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .profile:hover .image {
    opacity: 0.3;
  }
  
  .profile:hover .middle {
    opacity: 1;
  }

  .profileName{
    color: #4337BB;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
  }

  .linkedinIconProfile{
    color: #fff !important;
    background-color: #0e76a8; 
    font-size: 16px;
    padding: 5px 10px;
    /* border: 1px solid #fff; */
    border-radius: 5px;
    margin: 10px;
  }
  .linkedinIconProfile:hover{
    background-color: #fff;
    color: #0e76a8 !important;
  }
