<section class="pt-200 pb-70">
    <div class="container">
       <div class="section-title">
          <span>Data Privacy & Security Policies</span>
          <h2 class="color-primary">User Data Security & Policy</h2>
       </div>
       <p>As Company we are promising the data privacy and security terms mentioned below:</p>
       <ol>
           <li>We will not use your account information for anyone else.</li>
           <li>We will not pass or share your personal information and data with anyone else.</li>
           <li>We will not use your account for any transaction on our end, All the transactions will
            be authorized by the user itself.</li>
            <li>On the account cancellation, we will block all the transactions on your account.</li>
            <li>We will not do any unauthorized transactions with your payment methods.</li>
            <li>We will do transactions with the authorized methods (Razorpay, Paypal, or Cards)</li>
            <li>We will not deduct any of the amounts after the cancellation of the Subscription.</li>
            <li>User can delete their account and we will delete all the user info on our end.</li>
            <li>On the negligence of Terms & Conditions company can delete the user account and
                Data.</li>
            <li>If your account does not have any activity in 3 months, your account will be deactivated from our system and you can reactivate it. For reactivation you have to send an email to "admin@kreatelist.com"</li>
        </ol>
    </div>
</section>

<section class="pt-50 pb-70">
    <div class="container">
       <div class="section-title">
          <h2 class="color-primary">Approval To Use Software & Security Policy</h2>
       </div>
       <ol>
           <li>The Company allows the nonexclusive use of the software in relation to the Service
            (hereinafter referred to as the “Software” and includes software that is newly provided due to
            future upgrades) provided by the Company for users who download the Software for the use
            of the Service under the condition that the user abides by the Terms and Conditions. The
            copyright to the Software and any associated rights will belong to the Company.</li>
           <li>The Company cannot guarantee that the Software is free of any actual or legal defects
            (including but not limited to stability, reliability, accuracy, completeness, validity, suitability for
            a specific purpose, security-related defects, errors, or bugs, infringement of rights, etc.).</li>
           <li>The user must not conduct the following actions when using the Software unless the user
            has separately obtained evident approval from the Company.</li>
            <ul>
                <li>Copy the whole or part of the Software.</li>
                <li>Modify the whole or part of the Software’s features, text, and/or program source
                    code.</li>
                <li>Disassemble or decompile the whole or part of the Software, or attempt to decipher
                    the whole or part of the Software.</li>
                <li>Assign, lend or licence the Software to a third party.</li>
                <li>Use the Software for advertising, commercial purposes, or solicitation.</li>
                <li>Violate a law, judgement, judicial ruling, court order, or binding regulation.</li>
                <li>Violate the rights of the Company or of any third party (including, copyright,
                    trademark, patent, or similar intellectual property rights, right of reputation, right to
                    privacy, or any other right arising at law or by contract).</li>
                <li>Interfere with or obstruct the Company’s operation of the Service or other users’ use
                    of the Service.</li>
                <li>Aid or encourage any of the actions mentioned in items (1) through (8) above.</li>
                <li>Any other use of the Service that the Company deems inappropriate.</li>
            </ul>
        </ol>
    </div>
</section>