ol li{
    margin-bottom: 15px;
    line-height: 1.8;
    /* color: #fff; */
}
ul li{
    margin-bottom: 0px;
}
.section-title h2 {
    font-size: 30px;
    margin-bottom: 10px;
    position: relative;
    display: block;
}