.tab.quote-list-tab {
    text-align: center;
}
.tab.quote-list-tab .tabs {
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #1dd3f8;
    margin-bottom: 40px;
    padding: 0;
}
.tab.quote-list-tab .tabs li {
    display: inline-block;
    padding: 0 10px;
    font-family: Dosis,sans-serif;
    color: #212121;
    font-size: 20px;
    font-weight: 700;
}
.tab.quote-list-tab .tabs li {
    padding: 0 !important;
}
.tab .tabs_item:first-child {
    display: block;
}
.single-pricing {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    padding: 30px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 50px 0 50px 0;
    transition: all .6s ease;
}
.single-pricing:hover {
    transform: translateY(-5px);
}
.single-pricing .pricing-top-heading {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.single-pricing .pricing-top-heading h3 {
    font-size: 25px;
}
.single-pricing span {
    font-size: 30px;
    font-family: Dosis,sans-serif;
    color: #212121;
    font-weight: 700;
    display: block;
    line-height: 1;
    margin: 0 auto 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
}
.single-pricing span {
    color: #fff !important;
    box-shadow: 0 0 10px #fff !important;
    background-color: #2a2879 !important;
    position: relative;
}
.single-pricing span sub {
    font-size: 14px;
    color: #4d4d4d;
}
.single-pricing span sub {
    font-size: 14px;
    color: #4d4d4d;
    position: absolute;
    z-index: 100;
    bottom: 30px;
    display: block;
    font-weight: 500;
    color: #fff !important;
    z-index: 100;
    left: 0;
    font-size: 10px !important;
    right: 0;
    /* text-transform: uppercase; */
}
.single-pricing ul {
    text-align: left;
    max-width: 255px;
    margin: 0 auto 25px;
    list-style-type: none;
    padding: 0;
}
.single-pricing ul {
    min-height: 175px;
}
.single-pricing ul li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 28px;
    font-weight: 600;
}
.single-pricing ul li i {
    font-size: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #daf6fd;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    /* top: 5px; */
    left: 0;
    color: #1dd3f8;
}
.popular {
    position: absolute;
    top: -18px;
    right: -50px;
    z-index: 1;
    background-color: red;
    color: #fff;
    padding: 40px 40px 10px 35px;
    transform: rotate(45deg);
    font-size: 13px;
}
.bg-fafafa {
    background-color: #f5f5f5;
}
@media only screen and (max-width: 800px) {
    .font13{
        font-size: 13px;
    }
  }