<section class="pricing-area pt-200 pb-70">
  <div class="container">
     <div class="section-title">
        <span>Choose your Customer Service Solution</span>
        <h2 class="color-white">Pricing Structure</h2> 
     </div>
     <div class="pb-70">
      <ol class="color-white">
         <li>
            Once you have enrolled with KreateList <b>(KreateList Infotech Private Limited)</b> the enrollment 
            requires an initial deposit of $99.00 
            <b>(As a Joining fee which can be used as service cost and the good part about is it will never expire).</b>
         </li>
         <li>
            If you are not fully satisfied with the quality 
            of our work for whatever reason, we will refund the initial deposit.
         </li>
         <li>
            When your account reaches a low balance, we will notify you to replenish your account.
         </li>
         <li>
            Just go to your "<b>Wallet</b>" on the website <b>(In the app)</b> there you will be able 
            to add credits as your requirement.
         </li>
         <li>
            The money will be held in your KreateList account and service charges are deducted from 
            your account as services are requested and the breakdown is as follows:
         </li>
      </ol> 
     </div>
     <div class="tab quote-list-tab">
        <ul class="nav nav-tabs tabs" id="myTab" role="tablist">
         
          <li class="nav-item">
            <a class="nav-link font13 active" id="home-tab" data-toggle="tab" href="#pricing1" role="tab" aria-controls="home" aria-selected="true">Services</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link font13" id="profile-tab" data-toggle="tab" href="#pricing2" role="tab" aria-controls="profile" aria-selected="false">Extra Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font13" id="web-tab" data-toggle="tab" href="#pricing3" role="tab" aria-controls="web" aria-selected="false">E-Com Development</a>
          </li> -->
         
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="pricing1" role="tabpanel" aria-labelledby="home-tab">
             <div class="tabs_item">
              <div class="row">
                 <div class="col-lg-4 col-md-6">
                    <div class="single-pricing">
                       <div class="pricing-top-heading">
                          <h3>Listing or <br>Posting</h3>
                       </div>
                       <span>$ 1.00 <sub>/Per Item</sub></span>
                       <ul style="min-height: 162px;">
                          <li><i class="fas fa-check"></i>Only photos and condition needed </li>
                          <li><i class="fas fa-check"></i>Create full listing </li>
                          <li><i class="fas fa-check"></i>On any platform like eBay, Poshmark, etc </li>
                          
                       </ul>
                       <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Sign Up Now</a><strong class="popular">Popular</strong>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                    <div class="single-pricing">
                       <div class="pricing-top-heading">
                          <h3>Cross-listing or Cross-posting</h3>
                          
                       </div>
                       <span>$ 0.50 <sub>/Per Item</sub></span>
                       
                       <ul style="min-height: 0px;">
                          <li><i class="fas fa-check"></i>Copy listings from other platforms </li>
                          <li><i class="fas fa-check"></i>Get pricing, photos & other description </li>
                          <li><i class="fas fa-check"></i>Have someone's full store </li>
                       </ul>
                       <p style="font-size: 12px; color: #f84b00;"><b>Note:</b> Other Platforms to eBay Cross-listing $0.79 Per Item</p>
                       <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Sign Up Now</a>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-pricing">
                      <div class="pricing-top-heading">
                          <h3>Amazon FBA & Account Management</h3>
                          
                       </div>
                       <span>$ 10.00 <sub>/Per Hour</sub></span>
                       <ul style="min-height: 162px;">
                          <li><i class="fas fa-check"></i>Good Returns on Investments</li>
                          <li><i class="fas fa-check"></i>Track Your Profit (Daily, Weekly & Monthly)</li>
                          <li><i class="fas fa-check"></i>Store Accounting & Inventory Management</li>
                       </ul>
                       <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Sign Up Now</a>
                    </div>
                 </div>
              </div>
           </div>
          </div>
          
          <!-- <div class="tab-pane fade" id="pricing2" role="tabpanel" aria-labelledby="profile-tab">
             <div  class="tabs_item">
              <div class="row">
                 <div class="col-lg-4 col-md-6">
                    <div class="single-pricing">
                       <div class="pricing-top-heading">
                          <h3>Account Analysis & Management</h3>
                       </div>
                       <span>$ 7.00 <sub>/ hour</sub></span>
                       <ul style="min-height: 145px;">
                          <li><i class="fas fa-check"></i>Track your Profit </li>
                          <li><i class="fas fa-check"></i>Store Accounting & Inventory Management  </li>
                          
                       </ul>
                       <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Get Started Now</a>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-6">
                    <div class="single-pricing">
                       <div class="pricing-top-heading">
                          <h3>Amazon FBA</h3>
                          
                       </div>
                       <span>$ 8.00 <sub>/ hour</sub></span>
                       <ul>
                          <li><i class="fas fa-check"></i>Minimum ROI – 50% </li>
                          <li><i class="fas fa-check"></i>Product will be brand new </li>
                          <li><i class="fas fa-check"></i>Your seller control permission </li>
                          <li><i class="fas fa-check"></i>Good monthly sales </li>
                       </ul>
                       <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Get Started Now</a><strong class="popular">Popular</strong>
                    </div>
                 </div>
                 <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                    <div class="single-pricing">
                      <div class="pricing-top-heading">
                          <h3>Other Services</h3>
                          
                       </div>
                       <span>$ 10.00 <sub>/ hour</sub> </span>
                       <ul>
                          <li><i class="fas fa-check"></i>Marketing </li>
                          <li><i class="fas fa-check"></i>Research  </li>
                          <li><i class="fas fa-check"></i>Finance  </li>
                          <li><i class="fas fa-check"></i>Documentation  </li>
                          <li><i class="fas fa-check"></i>Product Research </li>
                       </ul>
                       <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Get Started</a>
                    </div>
                 </div>
              </div>
           </div>
          </div>

          <div class="tab-pane fade" id="pricing3" role="tabpanel" aria-labelledby="web-tab">
            <div  class="tabs_item">
             <div class="row">
                <div class="col-lg-4 col-md-6">
                   <div class="single-pricing">
                      <div class="pricing-top-heading">
                         <h3>E-Commerce Web Development</h3>
                      </div>
                      <span style="font-size: 22px;">$10 - $100 <sub>/ hour</sub></span>
                      <ul>
                         <li><i class="fas fa-check"></i>E-Commerce Analysis</li>
                         <li><i class="fas fa-check"></i>Area of Serving</li>
                         <li><i class="fas fa-check"></i>Product Categorization</li>
                         <li><i class="fas fa-check"></i>Functionalities of Operations</li>
                         <li><i class="fas fa-check"></i>Size of Database</li>
                         <li><i class="fas fa-check"></i>Events/Activities</li>  
                      </ul>
                      <p style="font-size: 12px; color: #f84b00;"><b>Note:</b> Your requirements will be the price base.</p>
                      <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Get Started Now</a><strong class="popular">Popular</strong>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6">
                   <div class="single-pricing">
                      <div class="pricing-top-heading">
                         <h3>E-Commerce Android App Development</h3>
                         
                      </div>
                      <span style="font-size: 22px;">$15 - $115 <sub>/ hour</sub></span>
                      <ul>
                         <li><i class="fas fa-check"></i>E-Commerce Analysis</li>
                         <li><i class="fas fa-check"></i>Product Categorization</li>
                         <li><i class="fas fa-check"></i>Functionalities of Operations</li>
                         <li><i class="fas fa-check"></i>Database Connectivities</li>
                         <li><i class="fas fa-check"></i>Size of Database</li>
                         <li><i class="fas fa-check"></i>Events/Activities</li>
                      </ul>
                      <p style="font-size: 12px; color: #f84b00;"><b>Note:</b> Your requirements will be the price base.</p>
                      <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Get Started Now</a>
                   </div>
                </div>
                <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                   <div class="single-pricing">
                     <div class="pricing-top-heading">
                         <h3>E-Commerce IOS App Development</h3>
                         
                      </div>
                      <span style="font-size: 22px;">$25 - $150 <sub>/ hour</sub> </span>
                      <ul>
                        <li><i class="fas fa-check"></i>E-Commerce Analysis</li>
                        <li><i class="fas fa-check"></i>Product Categorization</li>
                        <li><i class="fas fa-check"></i>Functionalities of Operations</li>
                        <li><i class="fas fa-check"></i>Database Connectivities</li>
                        <li><i class="fas fa-check"></i>Size of Database</li>
                        <li><i class="fas fa-check"></i>Events/Activities</li>
                      </ul>
                      <p style="font-size: 12px; color: #f84b00;"><b>Note:</b> Your requirements will be the price base.</p>
                      <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Get Started</a>
                   </div>
                </div>
             </div>
          </div>
         </div> -->

        </div>
     </div>
  </div>
</section>

<div class="bg-fafafa">
  <section class="business-area ptb-100">
     <div class="container">
        <div class="row align-items-center">
           <div class="col-lg-6">
              <div class="business-content">
                 <h2>Why Choose Our Solution?</h2>
              </div>
              <div class="single-business">
                <i class="fas fa-list-ul"></i>
                 <h3>Listing Optimizer</h3>
                 <p>Listing optimizing solution can even help improve your store’s listing visibility by strategically applying Narrow elements to it. You would naturally sell more with improved listing visibility and higher ranks.</p>
              </div>
              <div class="single-business">
                <i class="fas fa-vr-cardboard"></i>
                 <h3>SEO Friendly Solution</h3>
                 <p>Our solution grab most of the popular keywords to use in listings that buyer can easily search their exact requirement. It will appear your listings in first in the queue and it increases the chances to sell the items most frequently.</p>
              </div>
              <div class="single-business">
                <i class="fas fa-people-carry"></i>
                 <h3>Get Overwhelming</h3>
                 <p>Consider investing in an eBay assistant if your workload is starting to get overwhelming. With an eBay helper, you can buy more time to focus on your core business processes and increase the speed of your growth.</p>
              </div>
              
           </div>
            <div class="col-lg-6">
              <div class="row">
                 <div class="col-lg-6 col-sm-6 counter-nth">
                    <div class="single-counter">
                       <h2><span class="target">90%</span></h2>
                       <p>Listing Completed</p>
                    </div>
                 </div>
                 <div class="col-lg-6 col-sm-6 counter-nth">
                    <div class="single-counter">
                       <h2><span class="target">75%</span></h2>
                       <p>Ecommerce Development</p>
                    </div>
                 </div>
                 <div class="col-lg-6 col-sm-6 counter-nth">
                    <div class="single-counter">
                       <h2><span class="target">95%</span></h2>
                       <p>Project Completed</p>
                    </div>
                 </div>
                 <div class="col-lg-6 col-sm-6 counter-nth">
                    <div class="single-counter">
                       <h2><span class="target">97%</span></h2>
                       <p>Happy Clients</p>
                    </div>
                 </div>
                 
              </div>
           </div>
        </div>
     </div>
  </section>

</div>