<section class="pt-200 pb-70">
    <div class="container">
       <div class="section-title">
          <h2 class="color-primary">Shipping / Delivery Policies</h2>
       </div>
       <p>Here are the Shipping/Delivery Policies to Use the KreateList Platform:</p>
       <p>For Services here are the timelines to deliver it to the users.</p>
       <ol>
           <li>Listing/Posting:- $1.00 Per Item
               <ul>
                   <li>It can be up to 48 Hours time to Draft or List the items. 
                    (Working days except for Sunday, Festivals, and National Holidays)</li>
               </ul>
           </li>
           <li>Cross-listing/Cross-posting:- $0.50 Per Item
                <ul>
                    <li>It can be take up to 48 Hours time to Draft or List the items. 
                        (Working days except for Sunday, Festivals, and National Holidays)</li>
                </ul>
            </li>
            <!-- <li>eBay Dropshipping Listing:- $0.65 Per Item
                <ul>
                    <li>It will take up to 48 Hours time to Draft or List the items.
                        (Working Days Hours except for Sunday, Festivals, and
                        National Holidays)</li>
                </ul>
            </li> -->
            <li>Amazon FBA & Account Management:- $10.00 Per Hour
                <ul>
                    <li>It can be take up to 7 working days to start the accounting task. 
                        (Working days except for Sunday, Festivals, and National Holidays)</li>
                </ul>
            </li>
            <!-- <li>Account Analysis & Management:- $7.00 Per Hour
                <ul>
                    <li>It will take up to 7 working days time to deliver it.
                        (Working Days except for Sunday, Festivals, and National
                        Holidays)</li>
                </ul>
            </li>
            <li>Other Services:- $10.00 Per Hour
                <ul>
                    <li>It will take up to 7 working days time to deliver it.
                        (Working Days except for Sunday, Festivals, and National
                        Holidays)</li>
                </ul>
            </li>
            <li>E-Commerce Web Development
                <ul>
                    <li>It will take up to 7 working days time to deliver it.
                        (Working Days except for Sunday, Festivals, and National
                        Holidays)</li>
                </ul>
            </li>
            <li>E-Commerce Android App Development
                <ul>
                    <li>It will take up to 7 working days time to deliver it.
                        (Working Days except for Sunday, Festivals, and National
                        Holidays)</li>
                </ul>
            </li>
            <li>E-Commerce IOS App Development
                <ul>
                    <li>It will take up to 7 working days time to deliver it.
                        (Working Days except for Sunday, Festivals, and National
                        Holidays)</li>
                </ul>
            </li> -->
        </ol>
    </div>
</section>