<section class="client-area  pb-100 pt-200">
    <div class="section-title">
          <span>Testimonials</span>
          <h2 class="color-white">What Clients Say About Us</h2>
       </div>
    <div class="container">
       <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>I have been using Kreatelist for a few months now & absolutely 
                  love this service! It's affordable, my listings are completed in less than 24 hours, 
                  & they are super responsive to any changes, questions, or anything else that might 
                  come up. I am super slow at listing-I'm too wordy, I get caught up in the details, 
                  & don't really like doing it. Kreatelist has increased my daily listing total 
                  while also keeping me super consistent. It's like having your own assistant!</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/leslie.jpeg" alt="Image" />
                  <h3>Leslie</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
          <div class="col-lg-4 col-sm-6">
             <div class="single-client">
                <i class="quotes fas fa-quote-left"></i>
                <p>I want to give a HUGE shout-out to @kreatelist for helping me with my store. 
                   Having a KreateList solution is great they do everything for me list, post, etc. 
                   I do is take pictures and they take it from there. Also, I'm recently using Amazon 
                   service and really getting a good profit every week. If you need KreateList solution 
                   for your eBay, Poshmark, Amazon, Mercari, etc reach out to them. Thank you 
                   to everyone in @kreatelist</p>
                <ul>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                </ul>
                <div class="client-img">
                   <img src="../../assets/img/customers/G_Alcantara.jpg" alt="Image" />
                   <h3>G. Alcantara</h3>
                   <span>Store Owner</span>
                   <!-- <p>(eBay & Amazon)</p> -->
                </div>
             </div>
          </div>
          <div class="col-lg-4 col-sm-6">
             <div class="single-client">
                <i class="quotes fas fa-quote-left"></i>
                <p>It has been great working with Kreatelist! I will be sure to recommend you to my reseller friends! 
                   I will let them know about your services. I am leading a group of other resellers. 
                   I will recommend you to the group. 
                   The listings are looking great. Thank you so much for the help with my Poshmark.</p>
                <ul>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                   <li><i class="fas fa-star"></i></li>
                </ul>
                <div class="client-img">
                   <img src="../../assets/img/customers/A_Tavira.jpg" alt="Image" />
                   <h3>A. Tavira</h3>
                   <span>Store Owner</span>
                   <!-- <p>(Poshmark)</p> -->
                </div>
             </div>
          </div>
       </div>

       <div class="row pt-100">
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Thank you for the business solution and many more things are in line. 
                  You're crushing it. Great job. We were discussing your team in the reseller 
                  channel last week. Nothing but good words!!! We were talking about you on the 
                  channel and I gave a great to the group. Thanks so much for all your help. 
                  Making my life so much easier!!!! Hopefully, it drives business to you as well. 
                  You've definitely made it easier to get things up for sale fast!!!</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/mnash.jpeg" alt="Image" />
                  <h3>M. Nash</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>The listing and cross-listings services are really helping me along the way. 
                  Everything you guys are doing for me is fantastic. Currently have a shortage of 
                  photographers but assuring you that all the inventory I have it will be yours. 
                  Thank you for helping me in my business growth, 
                  looking forward to having some more tasks for you in the future.</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/cynthia.jpeg" alt="Image" />
                  <h3>Cynthia</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Great service and good customer support. Really amazing research about the product and 
                  result in a good quality listing. I'm going to add 2 more platforms for cross-listings and 
                  will start accounting for the very next quarter. Thank you for the overall help.</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/gigi.jpeg" alt="Image" />
                  <h3>GIGI</h3>
                  <span>Store Owner</span>
                  <!-- <p>(eBay & Amazon)</p> -->
               </div>
            </div>
         </div>
      </div>

      <div class="row pt-100">
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Good catch-up on all the needs of a reseller. The platform is good and helps me a lot. 
                  I can change anything according to my requirements. The cost is also good. Had some difficulty 
                  with some of the features but with the new updates, it is all good and working great.</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/liz.jpeg" alt="Image" />
                  <h3>LIZ</h3>
                  <span>Store Owner</span>
                  <!-- <p>(Poshmark)</p> -->
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>I just wanted to thank you for all your help and am excited about this partnership. 
                  Over the past month, we have been very happy with how this has been going and that 
                  is the reason we have added a few other services (like Cross-listing and Amazon FBA). 
                  As we continue to grow 
                  I am hoping to keep building this relationship and try to find more ways to partner up. Thank you!</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/renee.jpeg" alt="Image" />
                  <h3>Renee</h3>
                  <span>Store Owner</span>
                  <!-- <p>(eBay, Posh, Mercari & Amazon)</p> -->
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Great job my electronic stuff. It was the best solution I have ever used. 
                  I am pleased to have your services at the moment, the titles and description format was amazing. 
                  I am gonna recommend your solution to my group. One more thing I want to share is that 
                  I heard something about the accounting solution, So I am going to test that one as well. 
                  Please share some more info about this on email.</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/frank.jpeg" alt="Image" />
                  <h3>Frank</h3>
                  <span>Store Owner</span>
                  <!-- <p>(eBay & Amazon)</p> -->
               </div>
            </div>
         </div>
      </div>

      <div class="row pt-100">
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Kreatelist solution is doing listing and cross-listing for me. 
                  They have been doing a great job so far. A Few of the categories 
                  still need some revisions but the rest of them are all going so well. 
                  I am going to give them the overall accounting of my store. 
                  Thank you for giving the possible solution regarding my store's sales. 
                  I gonna share new stuff the next morning.</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/Monique.jpeg" alt="Image" />
                  <h3>Monique</h3>
                  <span>Store Owner</span>
                  <!-- <p>(Poshmark)</p> -->
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>I have been using Kreatelist for about a month now! And it has been a huge help for 
                  me in my business. I have used them for both creating drafts and cross-listing and 
                  the service is super fast in getting them ready for me! 
                  Pricing is great and my sales have increased since I am listing more!</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/christine.jpeg" alt="Image" />
                  <h3>Christine</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
         
         <!-- <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Kreatelist solution is doing listing and cross-listing for me. 
                  They have been doing a great job so far. A Few of the categories 
                  still need some revisions but the rest of them are all going so well. 
                  I am going to give them the overall accounting of my store. 
                  Thank you for giving the possible solution regarding my store's sales. 
                  I gonna share new stuff the next morning.</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/gigi.jpeg" alt="Image" />
                  <h3>GIGI</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div> -->
      </div>
       
    </div>
 </section>