


    <div id="navbar" class="navbar-area fixed-top" style=" box-shadow: 0 4px 4px 0px rgba(0,0,0,0.065);">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><img src="../../assets/img/newIMG/Kreatelist_logo.png" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="icon-bar top-bar"></span>
               <span class="icon-bar middle-bar"></span>
               <span class="icon-bar bottom-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
              <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/pricing">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#videoModal">Demo Video</a>
                   </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/home#testim">Testimonials</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" target="_blank" href="https://calendly.com/melissa-kreatelist/30min">Book a Call</a>
                   </li>

                  <!-- <li class="nav-item">
                     <a class="nav-link" target="_blank" href="https://app.kreatelist.com/">Login</a>
                   </li> -->

              </ul>

              <!-- <div class="others-options"><a class="bookCall" target="_blank" href="https://calendly.com/melissa-kreatelist/30min">Book a Call</a></div> -->
              <div class="others-options"><a style="background-color: #010032" class="default-btn" target="_blank" href="https://app.kreatelist.com/">Login</a></div>
              <div class="others-options"><a style="background-color: #010032" class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Sign Up &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a></div>
            </div>
        </div>
      </nav>
      <div style="background-color: #fff; color: #010032;">
         <marquee style="padding: 2px 0px 2px 0px;" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
            <p class="m-0" style="font-weight: 500; font-size: 35px;">No Monthly Subscription or Automatic Deductions. Pay $99 (Usable) as one-time fee and add funds to your account at your convenience as needed.</p>
          </marquee>
      </div>
    </div>

<router-outlet></router-outlet>
<!-- Full screen modal -->

 <!-- Modal -->
 <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-fullscreen">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">How to Use KreateList App?</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body" style="text-align: center;">
         <video controls style="height: 100%; width: 100%;">
            <source src="https://kreate-logo-images.s3.us-west-2.amazonaws.com/Kreatelist+Final+Demo+(1).mp4" type="video/mp4">
            <!-- <source src="mov_bbb.ogg" type="video/ogg"> -->
            Your browser does not support HTML video.
          </video>
       </div>
       <!-- <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Save changes</button>
       </div> -->
     </div>
   </div>
 </div>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h4 class="modal-title" id="myModalLabel">My Modal</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <!-- Modal content goes here -->
         <!-- You can put any content you want here -->
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 

<!-- Footer -->
<footer class="footer-top-area pt-100 pb-70">
  <div class="container">
     <div class="row">
        <div class="col-lg-4 col-md-8">
           <div class="single-widget">
              <a href="/home" class="logo"><img src="../../assets/img/newIMG/kreatlist_new.png" style="height: 55px; border-radius: 3px; margin: 10px 0px;" alt="Image" /></a>

              <ul class="information mb-3">
                 
                 <li class="address"><i class="fas fa-envelope"></i><span>Email</span>
                    <a href="mailto:founder@kreatelist.com" class="__cf_email__">founder@kreatelist.com</a>
                    <a href="mailto:chelsi@kreatelist.com" class="__cf_email__">chelsi@kreatelist.com</a>
                    <a href="mailto:nick@kreatelist.com" class="__cf_email__">nick@kreatelist.com</a>
                 </li>
                
              </ul>
              
              <ul class="social-icon">
                 <li><a target="_blank" href="https://www.facebook.com/Kreatelist-Resellers-helping-hands-106723184803670/"><i class="fab fa-facebook-f"></i></a></li>
                 <li><a target="_blank" href="https://www.twitter.com/KreateList"><i class="fab fa-twitter"></i></a></li>
                 <li><a target="_blank" href="https://www.instagram.com/kreatelist/"><i class="fab fa-instagram"></i></a></li>
                 <li><a target="_blank" href="https://www.linkedin.com/company/kreatelist/"><i class="fab fa-linkedin-in"></i></a></li>
                 <li><a target="_blank" href="/home"><i class="fab fa-youtube"></i></a></li>
              </ul>
           </div>
        </div>
        <div class="col-lg-4 col-md-8">
           <div class="single-widget">
              <h3>Company</h3>
              <ul>
                 <li><a href="/contact-us"><i class="fas fa-angle-double-right right-icon"></i>Contact Us</a></li>
                 <li><a href="/home"><i class="fas fa-angle-double-right right-icon"></i>Carrers</a></li>
                 <li><a href="/home"><i class="fas fa-angle-double-right right-icon"></i>Blogs</a></li>
                 <li><a href="/faq"><i class="fas fa-angle-double-right right-icon"></i>FAQ</a></li>
                 <li><a href="/pricing"><i class="fas fa-angle-double-right right-icon"></i>Pricing</a></li>
                 <li><a href="/terms"><i class="fas fa-angle-double-right right-icon"></i>Terms and Conditions</a></li>
                 <li><a href="/privacy"><i class="fas fa-angle-double-right right-icon"></i>Privacy and Policies</a></li>
                 <li><a href="/shipping-policies"><i class="fas fa-angle-double-right right-icon"></i>Shipping Policies</a></li>
                 <li><a href="/refund-policies"><i class="fas fa-angle-double-right right-icon"></i>Refund Policies</a></li>
              </ul>
           </div>
        </div>
        <div class="col-lg-4 col-md-8">
           <div class="single-widget">
              <h3>Solutions</h3>
              <ul>
                 <!-- <li><a href=""><i class="fas fa-angle-double-right right-icon"></i>Buying</a></li> -->
                 <li><a href="/home#eBay"><i class="fas fa-angle-double-right right-icon"></i>eBay Listing</a></li>
                 <li><a href="/home#eBay"><i class="fas fa-angle-double-right right-icon"></i>eBay Descriptions</a></li>
                 <li><a href="/home#eBay"><i class="fas fa-angle-double-right right-icon"></i>eBay Pricing</a></li>
                 <li><a href="/home#whyChooseUs"><i class="fas fa-angle-double-right right-icon"></i>eBay Inventory Management</a></li>
                 <li><a href="/home#eBay"><i class="fas fa-angle-double-right right-icon"></i>Order Processing</a></li>
                 <li><a href="/home#eBay"><i class="fas fa-angle-double-right right-icon"></i>Customer Services</a></li>
              </ul>
           </div>
        </div>
        <!-- <div class="col-lg-4 col-md-8">
           <div class="single-widget">
              <h3>Resources</h3>
              <ul>
                 <li><a href="/home#whyHire"><i class="fas fa-angle-double-right right-icon"></i>Why hire eBay Virtual Assistant?</a></li>
                 <li><a href="/home#whatWeOffer"><i class="fas fa-angle-double-right right-icon"></i>How an eBay Lister Can Help You?</a></li>
                 <li><a href="/home#whatWeOffer"><i class="fas fa-angle-double-right right-icon"></i>Areas where an eBay Lister Can be Useful</a></li>
                 <li><a href="/home#whyChooseUs"><i class="fas fa-angle-double-right right-icon"></i>Why choose our eBay Virtual Assistant Service?</a></li>
                 <li><a href="/signup"><i class="fas fa-angle-double-right right-icon"></i>Get Started With Your eBay Selling Business</a></li>
              </ul>
           </div>
        </div> -->
     </div>
  </div>
  <div class="footer-shape"><img src="../../assets/img/newIMG/footer-shape-one.png" alt="Image" /><img src="../../assets/img/newIMG/footer-shape-two.png" alt="Image" /></div>
</footer>
<footer class="footer-bottom-area">
  <div class="container">
     <div class="row align-items-center">
        <div class="col-lg-12">
           <div class="copy-right">
              <p>
                 Copyright © All Rights Reserved © 2022 Kreatelist Infotech Private Limited.
              </p>
           </div>
        </div>
       
     </div>
  </div>
</footer>
