
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  /* footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  } */

  footer a {
    display: flex;
    align-items: center;
  }

  .footer-top-area {
    /* background-color: #00042c; */
    box-shadow: 0 0 10px #fff3;
    background-image: url("../assets/img/newIMG/blue_nav.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.single-widget {
    margin-bottom: 30px;
}
.single-widget .logo {
    color: #fff;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 700;
}
.single-widget ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.single-widget .information li.address {
    position: relative;
    padding-left: 35px;
    color: #010032;
}
.single-widget ul li:last-child {
    margin-bottom: 0;
}
.single-widget .information li {
    margin-bottom: 8px;
}
.single-widget ul li {
    margin-bottom: 10px;
}
.single-widget .information li.address span {
    display: block;
    font-family: Dosis,sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.single-widget .information li a {
    padding-left: 0;
    position: relative;
}
.single-widget ul li a {
    color: #000;
    position: relative;
    padding-left: 20px;
}
.single-widget .social-icon {
    line-height: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.single-widget .social-icon li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 0;
}
.single-widget .social-icon li a {
    width: 30px;
    height: 30px;
    line-height: 32px;
    background-color: #3955bc;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    position: relative;
    padding-left: 0;
    justify-content: space-evenly;
}
.single-widget .social-icon li a:hover {
    transform: translateX(0);
    animation: rubberBand 1s linear;
    text-decoration: none;
}
.single-widget ul li a:hover {
    color: #1dd3f8;
    transform: translateX(5px);
}
.single-widget .social-icon li:nth-child(2) a {
    background-color: #1da1f2;
    color: #fff;
}
.single-widget .social-icon li:nth-child(3) a {
    background-color: #d32f2f;
    color: #fff;
}
.single-widget .social-icon li:nth-child(4) a {
    background-color: #0077b5;
    color: #fff;
}
.single-widget .social-icon li:nth-child(5) a {
    background-color: red;
    color: #fff;
}
.footer-top-area .footer-shape img:first-child {
    top: 35%;
    right: 0;
    z-index: -1;
    animation: rotation 20s linear infinite;
}
.footer-top-area .footer-shape img {
    position: absolute;
}
.footer-top-area .footer-shape img:nth-child(2) {
    top: 35%;
    right: 0;
    z-index: -1;
    animation: focus-one 1s linear 1s infinite;
}
.single-widget .information li.address i {
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 20px;
}
.single-widget h3 {
    color: #010032;
    margin-bottom: 25px;
    font-size: 25px;
    position: relative;
    /* border-bottom: 2px solid #060c4a; */
    padding-bottom: 10px;
}
.single-widget h3:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #010032;
}
.single-widget ul li a .right-icon {
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 0;
}
.footer-bottom-area {
  background-color: #0d1240;
  padding: 20px 0;
}
.footer-bottom-area .copy-right {
  color: #d9d6d6;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
    left: 0;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    left: 4px;
    position: relative;
}
.navbar-toggler .icon-bar {
    width: 28px;
    transition: all .3s;
    background: #1dd3f8;
    height: 2px;
    display: block;
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggler .middle-bar {
    opacity: 0;
    margin: 6px 0;
}
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
    left: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    left: 4px;
    position: relative;
}


  