.thankyouCard{
    border: 1px solid #4337BB;
    border-radius: 10px;
    padding: 0px;
    border-left: 1px solid #4337BB;
    border-top: 1px solid #4337BB;
    border-bottom: 1px solid #4337BB;
    margin: 40px 40px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,0.2);
}