<div class="container pb-100 pt-200">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 thankyouCard" style="text-align: center; padding: 3em 10px; background-color: #fff;">
            <img src="../../assets/img/newIMG/check-circle.gif" style="height: 5em; margin-bottom: 2em;">
            <h3>Thank You for Your Interest in Kreate List</h3><br>
            <p style="font-size: 18px; color: #2A8BB9;">Kreate List Team will give you a call</p>
            <p style="font-size: 18px;">Best Wishes from Kreate List Team</p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
