.closeIcon {
    cursor: pointer;
    /* float: right;
    margin-top: 0.6em; */
}
.offerHead {
    color: #010032;
    font-weight: 500;
    font-size: 30px;
}
.blink-bg {
    color: #fff;
    display: inline-block;
    animation: blinkingBackground 2s infinite;
    padding: 25px 36px 6px 52px;
    transform: rotate(311deg);
    top: -5px;
    position: absolute;
    left: -50px;
    font-size: 17px;
    letter-spacing: 1px;
}
@keyframes blinkingBackground {
    0%		{ background-color: #10c018;}
    25%		{ background-color: #1056c0;}
    50%		{ background-color: #ef0a1a;}
    75%		{ background-color: #254878;}
    100%	{ background-color: #010032;}
}