<h2 mat-dialog-title align="end">
    <span class="blink-bg">LIVE</span>
    <mat-icon [mat-dialog-close]="true" aria-hidden="false" aria-label="Example home icon" fontIcon="close" class="closeIcon"></mat-icon>
</h2>
<mat-dialog-content class="mat-typography" align="center" style="padding: 0px 3em 3em 3em;">
  <h1 class="offerHead">No Monthly Subscription or Automatic Deductions</h1>
  <p style="margin-bottom: 2em; font-weight: 500;">Pay $99 (Usable) one-time fee and add funds to your account at your convenience as needed.</p>
  <div class="others-options">
    <a [mat-dialog-close]="true" class="default-btn" style="font-weight: 500; background-color: #010032;" target="_blank" href="https://app.kreatelist.com/auth/signup">Sign Up Now&nbsp;</a>
</div>
</mat-dialog-content>
