.main-banner-area-four{
	padding: 200px 0 100px !important;
}
.color-white{
 /* color: #fff; */
 color: #000;

}
a {
    text-decoration: none;
}
.accordion-button:focus {
    box-shadow: none;
}
.navbar-light .navbar-brand img{
    height: 55px;
    border-radius: 3px;
    margin: 10px;
}
.navbar-area nav {
    padding: 0px !important;
    transition: all .6s ease;
    /* background-color: #010032; */
    box-shadow: 0 0 10px rgb(255 255 255 / 20%);
    background-image: url("assets/img/newIMG/blue_nav.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.service-card {
    padding: 10px 0 !important;
}
.service-card img{
	height: 60px;
}
.contact-info-area .single-contact-info {
    padding: 15px !important;
        min-height: 220px;
}
.bookCall{
    background-color: #fff !important;
    color: #1dd3f8 !important;
    font-size: 15px;
    font-weight: 600;
    padding: 18px 35px;
    line-height: 1;
    transition: all .6s ease;
    z-index: 1;
    text-transform: capitalize;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}
.bookCall:hover{
    text-decoration: none;
}
.contact-info-area .single-contact-info h3 {
    font-size: 18px !important;
}
.pt-200{
	padding-top: 200px;
}
.single-pricing ul {
    min-height: 175px;
}
.user-area-all-style .contact-form-action {
    max-width: 100% !important;
}
.single-pricing span {
	color: #fff !important;
    box-shadow: 0 0 10px #fff !important;
    background-color: #2a2879 !important;
    position: relative;
}
.single-pricing span sub {
    font-size: 14px;
    color: #4d4d4d;
    position: absolute;
    z-index: 100;
    bottom: 30px;
    display: block;
    font-weight: 500;
    color: #fff !important;
    z-index: 100;
    left: 0;
    font-size: 10px !important;
    right: 0;
    /* text-transform: uppercase; */
}
.navbar-light .navbar-toggler {
    padding: 10px;
}
.tab.quote-list-tab .tabs li {
    padding: 0 !important;
}
.nav-tabs .nav-link {
    color: #1dd3f8 !important;
    border: none !important;
    padding: 12px !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #1dd3f8 !important;
    border-color: #1dd3f8 !important;
    border-radius: 10px !important;
}
.body-bg-color {
    background-color: #fff;
    /* background-color: #010032; */

}
.navbar-area nav .navbar-nav .nav-item a {
    font-size: 14px;
    font-weight: 700;
    color: #010032;
    text-transform: uppercase;
    padding: 0;
    /* margin-left: 15px;
    margin-right: 15px; */
    margin: 7px 12px 8px 12px;
}
/* .navbar-area nav .navbar-nav .nav-item:first-child a {
    margin-left: 0;
} */
.navbar-area .others-options {
    position: relative;
    top: 3px;
}
.navbar-area .others-options .default-btn {
    padding: 15px 35px;
    margin: 7px 15px 8px 15px;
}
.navbar-area .others-options .bookCall {
    padding: 15px 35px;
    margin: 7px 15px 8px 15px;
}
.default-btn {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding: 18px 35px;
    line-height: 1;
    transition: all .6s ease;
    z-index: 1;
    text-transform: capitalize;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: #1dd3f8;
    display: inline-block;
}
.default-btn:hover {
    color: #fff;
    transition: all .6s ease;
    text-decoration: none;
}
.default-btn:after, .default-btn:before {
    content: "";
    position: absolute;
    top: -20px;
    width: 10px;
    height: 100px;
    background-color: #fff;
    opacity: .5;
    transition: all .6s ease;
    transform: rotate(45deg);
}
.default-btn:before {
    left: -40px;
}
.default-btn:after {
    right: -40px;
}
.default-btn:hover:before {
    left: 350px;
}
.default-btn:hover:after {
    right: 350px;
}
.main-banner-area-four {
    padding-bottom: 170px;
    overflow: hidden;
}
.main-banner-area {
    /* background-image: linear-gradient(#00095e,#000638); */
    padding-top: 200px;
    padding-bottom: 300px;
    position: relative;
    z-index: 1;
}
.main-banner-area:after, .main-banner-area:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/newIMG/animate4.png);
    z-index: -1;
}
.main-banner-area:before {
    animation: focus-one 1s linear 1s infinite;
}
.main-banner-area-four .banner-text {
    top: 30px;
    padding-right: 30px;
}

.main-banner-area .banner-text {
    position: relative;
    max-width: 640px;
    margin-left: auto;
}
.main-banner-area .banner-text h1 {
    color: #010032;
    font-size: 50px;
    margin-bottom: 32px;
}
.color-white {
    color: #000;
}
.color-green {
    color: #2a9a9b;
}
.color-primary {
    color: #010032;
}
.main-banner-area .banner-text p {
    color: #000;
    font-size: 16px;
    margin-bottom: 40px;
}
.animate__animated.animate__fast {
    animation-duration: calc(1s * .8);
    animation-duration: calc(var(--animate-duration) * .8);
}
.animate__fadeInRight {
    animation-name: fadeInRight;
}
.animate__animated {
    animation-duration: 1s;
    animation-duration: var(--animate-duration);
    animation-fill-mode: both;
}
.main-banner-area-four .over-shape img:first-child {
    top: 300px;
    left: 40px;
    animation: animationFramesOne 25s linear infinite;
}
.main-banner-area-four .over-shape img {
    position: absolute;
    z-index: -1;
}
.main-banner-area-four .over-shape img:nth-child(2) {
    top: 200px;
    left: 800px;
    animation: animationFramesOne 40s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(3) {
    top: 150px;
    right: 800px;
    animation: animationFramesOne 20s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(4) {
    bottom: 200px;
    right: 800px;
    animation: animationFramesOne 30s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(5) {
    top: 200px;
    right: 200px;
    animation: animationFramesOne 10s linear infinite;
}
.main-banner-area:after {
    animation: moVebounce 5s linear infinite;
}
.main-banner-area:after, .main-banner-area:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/newIMG/animate4.png);
    z-index: -1;
}
.about-img {
    text-align: center;
}
.about-content {
    margin-top: -8px;
}
.about-content span {
    font-size: 14px;
    color: #2a9a9b;
    display: inline-block;
    margin-bottom: 8px;
}
.about-area-four .about-content h2 {
    color: #010032;
}
.about-content h2 {
    font-size: 40px;
    margin-bottom: 15px;
}
.about-area-four .about-content p, .about-area-four .about-content ul li {
    color: #000;
}
.about-content ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
}
.about-area-four .about-content p, .about-area-four .about-content ul li {
    color: #000;
}
.about-content ul li {
    font-family: Dosis,sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #212121;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
}
.about-content ul li i {
    position: absolute;
    top: 3px;
    left: 0;
    color: #2a9a9b;
    font-size: 14px;
    background-color: #d7eef8;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
}
p {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.8;
}
.choose-title {
    margin-top: -9px;
    margin-bottom: 30px;
}
.choose-title span {
    font-size: 14px;
    color: #2a9a9b;
    display: inline-block;
    margin-bottom: 8px;
}
.home-four-section-title h2 {
    color: #010032;
}
.choose-title h2 {
    font-size: 40px;
    margin-bottom: 0;
}
.choose-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.choose-content ul li:hover {
    transform: translateY(-5px);
}
.choose-content ul li {
    position: relative;
    padding: 30px 30px 30px 120px;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    margin-bottom: 30px;
    transition: all .6s ease;
}
.choose-content ul li span, .choose-content ul li span i {
    border-radius: 50%;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    display: inline-block;
    position: absolute;
    left: 30px;
}
.choose-content ul li span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: relative;
    border: 2px dotted #fff;
    font-size: 30px;
    font-weight: 600;
    color: #212121;
    animation: border-transform 7s linear infinite alternate forwards;
    transition: all .6s ease;
    background-color: #dcddfa;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    top: 35px;
}
.choose-content ul li span i {
    top: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 25px;
    color: #dcddfa;
}
.choose-content ul li span, .choose-content ul li span i {
    border-radius: 50%;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    display: inline-block;
    position: absolute;
    left: 30px;
}
.choose-content ul li h3 {
    margin-bottom: 10px;
}
p:last-child {
    margin-bottom: 0;
}
.choose-content ul li:last-child {
    margin-bottom: 0;
}
.choose-content ul li:nth-child(2) span {
    background-color: #bde5fa;
}
.choose-content ul li:nth-child(2) span i {
    color: #bde5fa;
}
.pt-100, .ptb-100 {
    padding-top: 100px;
}
.section-title {
    max-width: 625px;
    margin: -9px auto 60px;
    text-align: center;
    position: relative;
}
.business-area-four .business-content h2, .business-area-four .single-business h3 {
    color: #010032;
}
.business-content h2 {
    font-size: 40px;
    margin-top: -9px;
    margin-bottom: 40px;
}
.single-business:hover {
    transform: translateY(-5px);
}
.single-business {
    padding-left: 70px;
    transition: all .6s ease;
    margin-bottom: 30px;
    position: relative;
}
.single-business i {
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #eeeefe;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 0 30px 30px 30px;
    font-size: 25px;
    color: #9898f0;
}
.business-area-four .single-business p {
    color: #000;
}
.single-counter:hover {
    animation: rubberBand 1s linear;
}
.single-counter {
    background-color: #e2e2fc;
    text-align: center;
    padding: 50px 23px;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: all .6s ease;
}
.single-counter h2 {
    margin-bottom: 0;
}
.single-counter h2 .target {
    line-height: 1;
    position: relative;
    top: 7px;
}
.single-counter h2 span {
    font-size: 50px;
    color: #6b6bd4;
    font-family: Dosis,sans-serif;
    font-weight: 700;
    line-height: 1;
}
.single-counter p {
    font-family: Dosis,sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 0;
}
.counter-nth:nth-child(2) .single-counter {
    margin-top: 30px;
    background-color: #cae5fe;
}
.counter-nth:nth-child(2) .single-counter h2 span {
    color: #3785ca;
}
.counter-nth:nth-child(3) .single-counter {
    background-color: #c0fedc;
    margin-top: -30px;
    margin-bottom: 0;
}
.counter-nth:nth-child(3) .single-counter h2 span {
    color: #23bc68;
}
.counter-nth:nth-child(4) .single-counter {
    background-color: #fbc7ba;
    margin-bottom: 0;
}
.counter-nth:nth-child(4) .single-counter h2 span {
    color: #c05234;
}
.section-title span {
    font-size: 14px;
    color: #2a9a9b;
    display: inline-block;
    margin-bottom: 5px;
}
.home-four-section-title h2 {
    color: #010032;
}
.section-title h2 {
    font-size: 40px;
    margin-bottom: 10px;
    position: relative;
    display: block;
}
.home-four-section-title p {
    color: #000;
}
.industries-area .industries-list-tab .tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.industries-area .industries-list-tab .tabs li {
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    border-radius: 60px 0 0 60px;
    transition: all .6s ease;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 20px;
}
.industries-area .industries-list-tab .tabs li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1dd3f8;
    z-index: -1;
    border-radius: 60px 0 0 60px;
    transition: all .6s ease;
}
.industries-area .industries-list-tab .tabs li span {
    display: inline-block;
    cursor: pointer;
    padding: 30px 30px 30px 85px;
}
.industries-area .industries-list-tab .tabs li i {
    position: absolute;
    left: 30px;
    top: 32px;
    font-size: 40px;
    color: #1dd3f8;
    line-height: 1;
    transition: all .6s ease;
}
.industries-area .industries-list-tab .tabs li h3 {
    transition: all .6s ease;
    font-size: 20px;
}
.tab .tabs_item:first-child {
    display: block;
}
.industries-area .industries-img {
    text-align: center;
}
.industries-area-four .industries-content h3 {
    color: #010032;
}
.industries-area .industries-content h3 {
    margin-bottom: 15px;
}
.industries-area-four .industries-content p {
    color: #000;
}
.industries-area .industries-content p {
    margin-bottom: 10px;
}
.industries-area .industries-content .industries-item {
    list-style-type: none;
    margin: 15px 0 0;
    padding: 0;
}
.industries-area .industries-content .industries-item li {
    font-size: 15px;
    font-weight: 600;
    color: #212121;
    font-family: Dosis,sans-serif;
    margin-bottom: 15px;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    background-color: #fff;
    position: relative;
    padding: 12px 12px 12px 40px;
}
.industries-area .industries-content .industries-item li i {
    position: absolute;
    top: 13px;
    left: 17px;
    color: #1dd3f8;
}
.pb-100 {
    padding-bottom: 100px;
}
/* .offer-area-four {
    background-color: #060542 !important;
} */
.offer-area {
    background-color: #90d9d5;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.pb-70 {
    padding-bottom: 70px;
}
.service-card:hover {
    transform: translateY(-6px);
}
.service-card {
    background-color: #fff;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: all .6s ease;
}
.service-card {
    padding: 10px 0 !important;
}
.service-card h3 a {
    color: #212121;
}
.service-card img {
    height: 60px;
}
.offer-area-four .offer-shape img:first-child, .offer-area-four .offer-shape img:nth-child(2) {
    opacity: .3;
}
.offer-area .offer-shape img:first-child {
    bottom: 0;
    left: 0;
}
.offer-area .offer-shape img {
    position: absolute;
    z-index: -1;
}
.offer-area .offer-shape img:nth-child(2) {
    top: 0;
    right: 0;
}
.offer-area .offer-shape img:nth-child(3) {
    top: 100px;
    left: 200px;
    animation: animationFramesOne 25s linear infinite;
}
.offer-area .offer-shape img:nth-child(4) {
    bottom: 80px;
    right: 200px;
    animation: animationFramesOne 20s linear infinite;
}
.offer-area .offer-shape img:nth-child(5) {
    top: 100px;
    right: 200px;
    animation: animationFramesOne 15s linear infinite;
}
.offer-area .offer-shape img:nth-child(6) {
    bottom: 80px;
    left: 500px;
    animation: animationFramesOne 10s linear infinite;
}
@keyframes animationFramesOne{0%{transform:translate(0) rotate(0deg)}20%{transform:translate(73px,-1px) rotate(36deg)}40%{transform:translate(141px,72px) rotate(72deg)}60%{transform:translate(83px,122px) rotate(108deg)}80%{transform:translate(-40px,72px) rotate(144deg)}to{transform:translate(0) rotate(0deg)}}
@keyframes moVebounce{0%{transform:translateY(0)}50%{transform:translateY(50px)}to{transform:translateY(0)}}@keyframes focus-one{0%{opacity:0}75%{opacity:1}to{opacity:0}}
@keyframes border-transform{0%,to{border-radius:63% 37% 54% 46%/55% 48% 52% 45%}14%{border-radius:40% 60% 54% 46%/49% 60% 40% 51%}28%{border-radius:54% 46% 38% 62%/49% 70% 30% 51%}42%{border-radius:61% 39% 55% 45%/61% 38% 62% 39%}56%{border-radius:61% 39% 67% 33%/70% 50% 50% 30%}70%{border-radius:50% 50% 34% 66%/56% 68% 32% 44%}84%{border-radius:46% 54% 50% 50%/35% 61% 39% 65%}}
@keyframes focus-one{0%{opacity:0}75%{opacity:1}to{opacity:0}}
@keyframes rubberBand{0%{transform:scaleX(1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}to{transform:scaleX(1)}}
@keyframes fadeInRight{0%{opacity:0;transform:translate3d(100%,0,0)}to{opacity:1;transform:translateZ(0)}}
@keyframes rotation{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}
@keyframes movebounceShort{0%{transform:translateY(0)}50%{transform:translateY(20px)}to{transform:translateY(0)}}

.ptb-100 {
    padding-bottom: 100px;
}
.newsletter-area {
    /* background-color: #060542; */
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.newsletter-wrap h2 {
    font-size: 35px;
    margin-bottom: 30px;
    color: #010032;
}
.newsletter-area .newsletter-shape img:first-child {
    bottom: -40px;
    left: -25px;
    max-width: 260px;
    z-index: -1;
    opacity: .5;
}
.newsletter-area .newsletter-shape img {
    position: absolute;
}
.newsletter-area .newsletter-shape img:nth-child(2) {
    bottom: -40px;
    right: -25px;
    max-width: 260px;
    z-index: -1;
    opacity: .5;
}
.newsletter-area .newsletter-shape img:nth-child(3) {
    top: 0;
    right: 0;
    z-index: -1;
    opacity: .5;
}
button {
    outline: 0!important;
    border: none;
    background-color: transparent;
}
.client-area {
    background-color: #90d9d5;
}
.client-area .section-title h2 {
    color: #010032;
}
.single-client {
    text-align: center;
    background-color: #fff;
    position: relative;
    margin-top: 30px;
    margin-bottom: 165px;
    border-radius: 4px;
    padding: 50px 30px 30px;
    height: 33em;
}
.testimSec{
    max-width: 625px;
    margin: 3em auto 2em;
    text-align: center;
    position: relative;
}
.single-client:before {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    border-top: 45px solid #fff;
    border-right: 10px solid transparent;
    border-bottom: 0;
    border-left: 50px solid transparent;
    bottom: -24px;
    left: 20px;
}
.single-client .quotes {
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    color: #1dd3f8;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -30px;
}
.single-client ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.single-client ul li {
    display: inline-block;
    margin: 0 2px;
}
.single-client ul li i {
    font-size: 20px;
    color: orange;
}
.client-img {
    position: absolute;
    left: 30px;
    bottom: -170px;
}
.client-img img {
    border-radius: 10px;
    margin-bottom: 15px;
    height: 70px;
    width: 70px;
}
.client-img h3 {
    margin-bottom: 0;
    font-size: 20px;
    color: #010032;
}
.client-img p{
    color: #fff;
}
.client-img span {
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    color: #010032;
}

/* Mobile View CSS */
@media only screen and (max-width: 767px){
    .main-banner-area-four .banner-text {
        padding-right: 0;
        top: 0;
    }
    .main-banner-area .banner-text h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .main-banner-area .banner-text {
        text-align: center;
    }
    .main-banner-area .banner-text p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .default-btn {
        padding: 14px 20px;
        font-size: 14px;
    }
    .about-img {
        margin-bottom: 30px;
        text-align: center;
    }
    .about-content h2 {
        font-size: 25px;
        line-height: 1.3;
    }
    .about-content h2, .single-features i, .single-features p {
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
    }
    .about-content ul {
        margin-bottom: 10px;
    }
    .about-content ul li {
        font-size: 15px;
    }
    .pt-100, .ptb-100 {
        padding-top: 50px;
    }
    .choose-title h2 {
        font-size: 25px;
        line-height: 1.3;
    }
    .choose-content ul li {
        padding: 20px;
        text-align: center;
    }
    .choose-content ul li span {
        position: relative;
        top: auto;
        left: auto;
    }
    .choose-content ul li span i {
        top: auto;
        left: 50px;
        bottom: -10px;
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }
    .choose-content ul li:last-child {
        margin-bottom: 30px;
    }
    .business-content h2 {
        font-size: 25px;
        margin-bottom: 30px;
        line-height: 1.3;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .counter-nth:first-child .single-counter {
        margin-top: 30px;
    }
    .counter-nth:nth-child(2) .single-counter {
        margin-top: 0;
    }
    .counter-nth:nth-child(3) .single-counter {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .single-counter p {
        font-size: 18px;
    }
    .single-counter h2 span {
        font-size: 40px;
    }
    .section-title h2 {
        font-size: 25px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
    .industries-img.left-img {
        margin-bottom: 30px;
    }
    .industries-area .industries-content .industries-item {
        margin-top: 0;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .pt-100, .ptb-100 {
        padding-top: 50px;
    }
    .section-title {
        margin: -9px auto 40px;
    }
    .newsletter-area {
        text-align: center;
    }
    .newsletter-wrap {
        margin-bottom: 30px;
    }
    .newsletter-wrap h2 {
        font-size: 30px;
    }
    .newsletter-area .default-btn {
        padding: 18px 20px;
        font-size: 14px;
    }
}


