/* You can add global styles to this file, and also import other style files */
.brandColor{
    color: #352F6F;
}
.navbar-light .navbar-nav .nav-link {
    color: #352F6F;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #1dd3f8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
    text-decoration: none !important;
}

#offerModal {
    /* margin-top: 7em; */
}
.backdropModal {
    background-color:#000000d4;
    backdrop-filter: blur(2px);
}
.cdk-overlay-container{
    z-index: 1031 !important;
}
