<section class="pt-200 pb-70">
    <div class="container">
       <div class="section-title">
          <span>Terms of Service</span>
          <h2 class="color-primary">User Terms & Conditions</h2>
       </div>
       <p>These terms and conditions are a type of contract between You (As User) and <b>KreateList
        Infotech Private Limited</b> (Service Provider Company) to access the Website or Web
        Application or Mobile Application (Android and IOS Both) of <b>KreateList</b>.</p>
        <p>By Agree Submission in Sign Up with the terms and conditions 
        you are agreeing that you have read, understood, and agreed to all the conditions written below:
        </p>
        <ol>
            <!-- <li>I’m using the services from KreateList on my own decision and at my own risk. No one forced me to use this service.</li> -->
            <li>I have chosen the service for my online stores to grow my business and bring it to the next level.</li>
            <li>I have understood the price model and agree to pay the price prior to using the services mentioned below:
                <ul>
                    <li>Listing:- $1.00 Per Item</li>
                    <li>Cross-listing:- $0.50 Per Item/Platform (Except eBay)</li>
                    <!-- <li>eBay Dropshipping Listing:- $0.65 Per Item</li> -->
                    <li>Amazon FBA & Account Management:- $10.00 Per Hour</li>
                    <!-- <li>Account Analysis & Management:- $7.00 Per Hour</li>
                    <li>Other Services:- $10.00 Per Hour (Marketing, Research, Finance, Documentation, Product Research)</li> -->
                </ul>
            </li>
            <li>I have understood the Wallet System and agree to pay this:<br>
                <!-- ***<b>Subscription Charges:- $69 Per Month</b> with conditions: -->
                <ul>
                    <li>Once you have enrolled with KreateList <b>(KreateList Infotech Private Limited)</b> and the enrollment 
                        requires an initial deposit of $99 <b>(As a Joining fee which can be used as service cost and the 
                        good part about is it will never expire)</b>. The money will be held in your 
                        KreateList account and service charges are deducted from your account as services are requested.</li>
                    <li>When your account reaches a low balance, we will notify you to replenish your account.  Just go to your "<b>Wallet</b>" on the website <b>(In the app)</b> there you will be able to add credits as your requirement.</li>
                    <li>We will not automatically charge your account you will have the freedom to add credit as needed.</li>
                    <li>If you are not fully satisfied with the quality of our work for whatever reason, we will refund the initial deposit.</li>
                </ul>
            </li>
            <!-- <li>I have understood the <b>Wallet System</b> and agree to use it with the conditions
                mentioned below:
                <ul>
                    <li>I will recharge it with the payment methods while I’m using the service.</li>
                    <li>The Subscription credits will be automatically expired within a month.</li>
                </ul>
            </li> -->
            <li> I'm sharing my contact info with KreateList as accurately as 
                my government documents and KreateList can use the info to contact me.</li>
            <li>I'm creating an account with KreateList and the company can restrict my account
                 at any point in time in negligence of any term or condition.</li>
            <li>I will use not use the same business idea at any point. <br>**If I do any negligence
                of Company Norms, the Company can take legal action against me.</li>
        </ol>
    </div>
</section>