<div class="main-banner-area main-banner-area-four">
    <div class="container-fluid">
       <div class="row align-items-center">
          <div class="col-lg-6">
             <div class="banner-text text-center">
                <h1>Accelerate Your Sales <br> <span >With Our Epic Solution</span> <br> <span>And Assistance</span> </h1>
                <h4 class="color-green">Are you busy in creating listings of your stuff?</h4>
                <p>We know listing creation and maintenance are extremely tedious and time-consuming for 
                  resellers/sellers. We're offering an integrated platform for Listing/posting, 
                  Cross-listing/Cross-posting on all platforms, and Amazon FBA & Account Management. 
                  It can save you maximum 
                  time and effort which can be used for thrifting, shipping and bookkeeping, and other tasks.</p>
                <div class="banner-btn">
                   <a class="default-btn" target="_blank" href="https://app.kreatelist.com/auth/signup">Sign Up Now</a>
                </div>
             </div>
          </div>
          <div class="col-lg-6 pr-0">
             <div class="banner-four-main-img text-center"><img class="img-fluid" src="../../assets/img/newIMG2/home-banner-new.png" alt="Image" style="width: 31em;" /></div>
          </div>
       </div>
    </div>
    <!-- <div class="over-shape"><img src="../../assets/img/newIMG/animate1.png" alt="Image" /><img src="../../assets/img/newIMG/animate1.png" alt="Image" /><img src="../../assets/img/newIMG/animate2.png" alt="Image" /><img src="../../assets/img/newIMG/animate2.png" alt="Image" /><img src="../../assets/img/newIMG/animate3.png" alt="Image" /></div> -->
 </div>

 <section id="testim" class="testim pt-3 pb-3" style="background-color: #90d9d5;">
   <div class="testimSec section-title">
      <span>Testimonials</span>
      <h2 class="color-primary">What Clients Say About Us</h2>
   </div>
   <div class="wrap">
         <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
         <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
         <ul id="testim-dots" class="dots">
            <li class="dot active"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
            <li class="dot"></li>
         </ul>
         <div id="testim-content" class="cont">
            <div class="active">
               <div class="img"><img src="../../assets/img/customers/leslie.jpeg" alt=""></div>
               <h2>Leslie</h2>
               <p>I have been using Kreatelist for a few months now & absolutely 
                  love this service! It's affordable, my listings are completed in less than 24 hours, 
                  & they are super responsive to any changes, questions, or anything else that might 
                  come up. I am super slow at listing-I'm too wordy, I get caught up in the details, 
                  & don't really like doing it. Kreatelist has increased my daily listing total 
                  while also keeping me super consistent. It's like having your own assistant!</p>                    
            </div>

            <div>
               <div class="img"><img src="../../assets/img/customers/G_Alcantara.jpg" alt=""></div>
               <h2>G. Alcantara</h2>
               <p>I want to give a HUGE shout-out to @kreatelist for helping me with my store. 
                  Having a KreateList solution is great they do everything for me list, post, etc. 
                  I do is take pictures and they take it from there. Also, I'm recently using Amazon 
                  service and really getting a good profit every week. If you need KreateList solution 
                  for your eBay, Poshmark, Amazon, Mercari, etc reach out to them. Thank you 
                  to everyone in @kreatelist</p>                    
            </div>

            <div>
               <div class="img"><img src="../../assets/img/customers/A_Tavira.jpg" alt=""></div>
               <h2>A. Tavira</h2>
               <p>It has been great working with Kreatelist! I will be sure to recommend you to my reseller friends! 
                  I will let them know about your services. I am leading a group of other resellers. 
                  I will recommend you to the group. 
                  The listings are looking great. Thank you so much for the help with my Poshmark</p>                    
            </div>

            <div>
               <div class="img"><img src="../../assets/img/customers/mnash.jpeg" alt=""></div>
               <h2>M. Nash</h2>
               <p>Thank you for the business solution and many more things are in line. 
                  You're crushing it. Great job. We were discussing your team in the reseller 
                  channel last week. Nothing but good words!!! We were talking about you on the 
                  channel and I gave a great to the group. Thanks so much for all your help. 
                  Making my life so much easier!!!! Hopefully, it drives business to you as well. 
                  You've definitely made it easier to get things up for sale fast!!!</p>                    
            </div>

            <div>
               <div class="img"><img src="../../assets/img/customers/cynthia.jpeg" alt=""></div>
               <h2>Cynthia</h2>
               <p>The listing and cross-listings services are really helping me along the way. 
                  Everything you guys are doing for me is fantastic. Currently have a shortage of 
                  photographers but assuring you that all the inventory I have it will be yours. 
                  Thank you for helping me in my business growth, 
                  looking forward to having some more tasks for you in the future.</p>                    
            </div>

         </div>
   </div>
   <div class="banner-btn text-center" style="margin-bottom: 5em;">
      <a class="default-btn" href="/clients">View All Client's Testimonials</a>
   </div>
</section>

 <section class="about-area about-area-four pb-5 mt-5" id="eBay">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-5">
             <div class="about-img"><img src="../../assets/img/newIMG/about-img-three.png" alt="Image" class="img-fluid"/></div>
          </div>
          <div class="col-lg-7">
             <div class="about-content">
                <span>About Us</span>
                <h2>Every Customer's Needs Are Fully Met with Extra Care And Speed</h2>
                <p>Kreatelist is a platform that helps resellers minimize time and effort spent on the listing, making more time for other tasks.  This boosts productivity, efficiency, and sales!</p>
                <div class="row">
                   <div class="col-lg-6 col-sm-6">
                      <ul>
                         <li><i class="far fa-check-circle"></i>eBay Listing Creation and Optimization</li>
                         <li><i class="far fa-check-circle"></i>Customer Service</li>
                         <li><i class="far fa-check-circle"></i>Order Processing</li>
                         <li><i class="far fa-check-circle"></i>eBay Price Research</li>
                         <li><i class="far fa-check-circle"></i>eBay Competitor Analysis and Market Research</li>
                         
                      </ul>
                   </div>
                   <div class="col-lg-6 col-sm-6">
                      <ul>
                         <li><i class="far fa-check-circle"></i>Adding Tracking for eBay Orders</li>
                         <li><i class="far fa-check-circle"></i>eBay Description Writing for Products</li>
                         
                         <li><i class="far fa-check-circle"></i>Basic Photo Editing & Re-sizing</li>
                         <li><i class="far fa-check-circle"></i>eBay Inventory Management</li>
                         <li><i class="far fa-check-circle"></i>Other Marketplace & E-commerce Tasks</li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="choose-ue-area pt-100" id="whyChooseUs" style="background-color: #90d9d5;">
    <div class="container">
       <div class="row">
          <div class="col-12">
             <div class="choose-title home-four-section-title">
                <span>Why Choose Us</span>
                <h2>Our Listing Associates create listings with the maximum amount of specifics, along with complete and detailed descriptions of every item.</h2>
             </div>
          </div>
       </div>
       <div class="row align-items-center">
          <div class="col-lg-6">
             <div class="choose-content">
                <ul>
                   <li>
                      <span>01 <i class="fas fa-recycle"></i></span>
                      <h3>Reselling Business</h3>
                      <p>Managing an online reselling business is no small mountain.  It involves a plethora of tasks that are time-consuming and difficult to automate.  Whether it is updating products or listing new items, photographing, sourcing, or various other day-to-day activities, it can become overwhelming to remain successful as a one-man-band.</p>
                   </li>
                   <li class="ml">
                      <span>02 <i class="fas fa-flask"></i></span>
                      <h3>Inventory Management</h3>
                      <p>From listings to shares, bookkeeping services, photoshop, and numerous other tasks, an online assistant can help grow your single or multi-platform business significantly.</p>
                   </li>
                   
                </ul>
             </div>
          </div>
          <div class="col-lg-6">
             <div class="choose-img"><img src="../../assets/img/newIMG/choose-img.png" alt="Image" class="img-fluid mt-5" /></div>
          </div>
       </div>
    </div>
 </section>

 <section class="business-area business-area-four ptb-100" id="whyHire">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-6">
             <div class="business-content">
                <h2>Why Choose Our Solution?</h2>
             </div>
             <div class="single-business">
                <i class="fas fa-list-ul"></i>
                <h3>Listing Optimizer</h3>
                <p>Listing optimization can help improve your store's visibility on the platform you sell on by strategically applying narrowing elements to it, which will naturally boost sales and move your listings higher in the ranks.</p>
             </div>
             <div class="single-business">
                <i class="fas fa-vr-cardboard"></i>
                <h3>SEO Friendly Solution</h3>
                <p>Our solution is to take the most popular keywords and use them in listings so that buyers can easily search their exact requirements.  Your listings will appear higher in searches and increase the chances of items selling faster and more frequently.</p>
             </div>
             <div class="single-business">
                <i class="fas fa-people-carry"></i>
                <h3>Get Overwhelming</h3>
                <p>If things are getting overwhelming on the virtual side, it is time to get KreateList services.  As any business grows, employees are needed to handle the more Type B tasks, while you focus on the ones that matter: sourcing, packing, photographing, and researching the trends.  Our business process is sure to enhance efficiency and increase the speed of growth in your sales.</p>
             </div>
             
          </div>
          <div class="col-lg-6">
             <div class="row">
                <div class="col-lg-6 col-sm-6 counter-nth">
                   <div class="single-counter">
                      <h2><span class="target">90%</span></h2>
                      <p>Listing Completed</p>
                   </div>
                </div>
                <div class="col-lg-6 col-sm-6 counter-nth">
                   <div class="single-counter">
                      <h2><span class="target">75%</span></h2>
                      <p>Ecommerce Development</p>
                   </div>
                </div>
                <div class="col-lg-6 col-sm-6 counter-nth">
                   <div class="single-counter">
                      <h2><span class="target">95%</span></h2>
                      <p>Project Completed</p>
                   </div>
                </div>
                <div class="col-lg-6 col-sm-6 counter-nth">
                   <div class="single-counter">
                      <h2><span class="target">97%</span></h2>
                      <p>Happy Clients</p>
                   </div>
                </div>
                
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="industries-area industries-area-four pb-100" id="whatWeOffer">
    <div class="container">
       <div class="section-title home-four-section-title">
          <span>What We Offer</span>
          <h2>Industries We Serve</h2>
          <p>Get Started With Your eBay Selling Business</p>
       </div>
       <div class="tab industries-list-tab">
          <div class="row align-items-center">
             <div class="col-lg-3">
                <ul class="tabs">
                   <li>
                      <span>
                        <i class="fas fa-shopping-cart"></i>
                         <h3>E-commerce</h3>
                      </span>
                   </li>
                   <li>
                      <span>
                        <i class="fab fa-searchengin"></i>
                         <h3>Marketing & Research</h3>
                      </span>
                   </li>
                   <li>
                      <span>
                        <i class="fas fa-donate"></i>
                         <h3>SEO & Analytics</h3>
                      </span>
                   </li>
                   <li>
                      <span>
                        <i class="fas fa-microchip"></i>
                         <h3>Information Technology(IT)</h3>
                      </span>
                   </li>
                </ul>
             </div>
             <div class="col-lg-9">
                <div class="tab_content">
                   <div id="tab1" class="tabs_item">
                      <div class="row align-items-center">
                         <div class="col-lg-6">
                            <div class="industries-img left-img"><img src="../../assets/img/newIMG/offer1.png" alt="Image" class="img-fluid" /></div>
                         </div>
                         <div class="col-lg-6">
                            <div class="industries-content">
                               <h3>Areas where KreateList Can be of Use for Your Business</h3>
                               <p>Listings Photoshop, Sharing, Keywords, Product Descriptions, and SEO Built Titles, Stale Listing Optimization, Bookkeeping, Inventory Management, and much more!</p>
                               <!-- <p>If your older listings aren’t optimized already, the solution may help improve them to maximize your sales and ratings.</p> -->
                               <!-- <p>KreateList could also double as a product photographer. All he would require is some basic knowledge of the company and its products, along with relevant work experience.</p> -->
                               
                               <div class="row">
                                  <div class="col-lg-6 col-sm-6">
                                     <ul class="industries-item">
                                        <li><i class="far fa-check-circle"></i>Opportunities</li>
                                        <li><i class="far fa-check-circle"></i>Creating</li>
                                        <li><i class="far fa-check-circle"></i>Industries</li>
                                     </ul>
                                  </div>
                                  <div class="col-lg-6 col-sm-6">
                                     <ul class="industries-item">
                                        <li><i class="far fa-check-circle"></i>Security</li>
                                        <li><i class="far fa-check-circle"></i>Highest</li>
                                        <li><i class="far fa-check-circle"></i>Priority</li>
                                     </ul>
                                  </div>
                               </div>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                   
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>

 <section class="offer-area offer-area-two offer-area-four pt-100 pb-70">
    <div class="container">
       <div class="section-title home-four-section-title">
          <span>Platforms</span>
          <h2>Platforms: We serve on</h2>
          <p>We know listing creation and maintenance are extremely tedious and 
            time-consuming for Resellers/Sellers. 
            We are here to assist, with familiarity with the following platforms:</p>
       </div>
       <div class="row">
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/Amazon.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/ebay.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
            <div class="service-card" style="height: 6.3em;"> 
               <h3><a href=""><img src="../../assets/img/clients/poshmark.png" style="height: 45px; margin-top: 11px;"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/whatnot.png" style="height: 23px; margin: 19px 0px;"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/mercari.png"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/facebook.png"></a></h3>
            </div>
         </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/Depop.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/Offerup.png"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/Etsy.jpg"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/shopify.jpg"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/goat.png"></a></h3>
            </div>
         </div>
         <div class="col-lg-2 col-sm-4">
            <div class="service-card"> 
               <h3><a href=""><img src="../../assets/img/clients/thredup.png"></a></h3>
            </div>
         </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/bonanza.png "></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/ebid.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/ecarter.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/letgo.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/nexttag.png"></a></h3>
             </div>
          </div>
          <div class="col-lg-2 col-sm-4">
             <div class="service-card"> 
                <h3><a href=""><img src="../../assets/img/clients/shopmatc.png"></a></h3>
             </div>
          </div>
          
       </div>
    </div>
    <div class="offer-shape"><img src="../../assets/img/newIMG/1.png" alt="Image" /><img src="../../assets/img/newIMG/2.png" alt="Image" /><img src="../../assets/img/newIMG/3.png" alt="Image" /><img src="../../assets/img/newIMG/4.png" alt="Image" /><img src="../../assets/img/newIMG/5.png" alt="Image" /><img src="../../assets/img/newIMG/6.png" alt="Image" /></div>
 </section>

 <!-- <section class="pb-100 pt-100" id="testimonials">
   <div class="section-title">
         <span>Testimonials</span>
         <h2 class="color-white">What Clients Say About Us</h2>
      </div>
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>I want to give a HUGE shout-out to @kreatelist for helping me with my store. 
                  Having a KreateList solution is great they do everything for me list, post, etc. 
                  I do is take pictures and they take it from there. Also, I'm recently using Amazon 
                  service and really getting a good profit every week. If you need KreateList solution for 
                  your eBay, Poshmark, Amazon, Mercari, etc reach out to them. Thank you to everyone in @kreatelist</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/G_Alcantara.jpg" alt="Image" />
                  <h3>G. Alcantara</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>It has been great working with Kreatelist! I will be sure to recommend you to my reseller friends! 
                  I will let them know about your services. I am leading a group of other resellers. 
                  I will recommend you to the group. 
                  The listings are looking great. Thank you so much for the help with my Poshmark</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/A_Tavira.jpg" alt="Image" />
                  <h3>A. Tavira</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-sm-6">
            <div class="single-client">
               <i class="quotes fas fa-quote-left"></i>
               <p>Thank you for the business solution and many more things are in line. You are crushing it. 
                  Great job. We were discussing your team in the reseller channel last week. 
                  Nothing but good words!!! We were talking about you on the channel and I gave a great to the group. 
                  Thanks so much for all your help. Making my life so much easier!!!! Hopefully, 
                  it drives business to you as well. 
                  You've definitely made it easier to get things up for sale fast!!!</p>
               <ul>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
                  <li><i class="fas fa-star"></i></li>
               </ul>
               <div class="client-img">
                  <img src="../../assets/img/customers/mnash.jpeg" alt="Image" />
                  <h3>M. Nash</h3>
                  <span>Store Owner</span>
               </div>
            </div>
         </div>
      </div>
      <div class="banner-btn text-center" style="margin-top: 6em;">
         <a class="default-btn" href="/clients">View All Client's Testimonials</a>
      </div>
   </div>
</section> -->


 <div class="newsletter-area ptb-100">
    <div class="container">
       <div class="row align-items-center">
          <div class="col-lg-12">
             <div class="newsletter-wrap text-center">
                <h2>Let's schedule a quick call with our onboarding manager to 
                  learn how you can give a kick start to scale your business with KreateList.</h2>
                <!-- <h4 class="color-white">Our VA can do 50 listing in a day.</h4> -->
                <div class="banner-btn mt-5">
                   <a class="default-btn" target="_blank" href="https://calendly.com/melissa-kreatelist/30min">Book A Call Now</a>
                </div>
             </div>
          </div>
         
       </div>
    </div>
    <div class="newsletter-shape"><img src="../../assets/img/newIMG/newsletter-shape-one.png" alt="Image" /><img src="../../assets/img/newIMG/newsletter-shape-one.png" alt="Image" /><img src="../../assets/img/newIMG/newsletter-shape-two.png" alt="Image" /></div>
 </div>